TODO
[x] DisbursementDateを日付に変更する
[x] RevLineCr / LowDoc OneHot (一旦Label Encoding)
[x] City / State Label Encoding
[x] DisbursementGross / GrAppv / SBA_Appv　を数値に変換
[ ] Find the difference between Urban / Not Urban
[ ] Get the population for each state 
[ ] Urban / Not Urbanのものの差を検証

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import set_config
from sklearn.inspection import permutation_importance
from sklearn.model_selection import StratifiedKFold, RepeatedStratifiedKFold
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.ensemble import RandomForestRegressor, IsolationForest
from sklearn.metrics import roc_auc_score, roc_curve, make_scorer, f1_score
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import SimpleImputer, IterativeImputer, KNNImputer
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.base import BaseEstimator, TransformerMixin, clone
from sklearn.preprocessing import FunctionTransformer, StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression, RidgeClassifier
from sklearn.naive_bayes import GaussianNB, BernoulliNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.ensemble import HistGradientBoostingClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.ensemble import VotingClassifier, StackingClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.gaussian_process import GaussianProcessClassifier
from scipy.cluster.hierarchy import dendrogram, linkage
from scipy.spatial.distance import squareform
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier

sns.set_theme(style = 'white', palette = 'viridis')
pal = sns.color_palette('viridis')

pd.set_option('display.max_rows', 100)
set_config(transform_output = 'pandas')
pd.options.mode.chained_assignment = None

In [2]:
train = pd.read_csv(r'../data/train.csv')
test = pd.read_csv(r'../data/test.csv')

In [3]:
def describe_satatistics(input_df):
    desc = pd.DataFrame(index=list(input_df))
    desc["nunique"] = train.nunique()
    desc["unique%"] = train.nunique() / len(input_df)
    desc["null"] = train.isnull().sum()
    desc["type"] = train.dtypes
    desc = pd.concat([desc,input_df.describe().T],axis=1)
    return desc

# Preprocessing

In [4]:
train["train_data"]=1
test["train_data"]=0
main_df = pd.concat([train,test])
main_df.reset_index(inplace=True,drop=True)

In [5]:
pd.set_option('display.max_columns', None)
main_df.head()

,ID,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,RevLineCr,LowDoc,DisbursementDate,MIS_Status,Sector,ApprovalDate,ApprovalFY,City,State,BankState,DisbursementGross,GrAppv,SBA_Appv,UrbanRural,train_data
0,0,163,21,1.0,0,0,1,N,N,31-Jan-98,1.0,0,22-Sep-06,2006,PHOENIX,AZ,SD,"$80,000.00","$80,000.00","$68,000.00",0,1
1,1,84,6,1.0,4,0,0,0,N,31-Oct-93,1.0,62,30-Jun-92,1992,MCALESTER,OK,OK,"$287,000.00","$287,000.00","$229,600.00",0,1
2,2,242,45,1.0,4,90,0,N,N,31-Aug-01,1.0,42,18-Apr-01,2001,HAWTHORNE,NJ,NJ,"$31,983.00","$30,000.00","$15,000.00",1,1
3,3,237,4,1.0,0,0,0,N,N,31-Aug-07,1.0,33,6-Oct-03,2004,NASHVILLE,TN,SD,"$229,000.00","$229,000.00","$229,000.00",0,1
4,4,184,0,1.0,0,0,0,N,N,8-Jun-83,1.0,0,17-Dec-99,2000,POMONA,CA,CA,"$525,000.00","$525,000.00","$393,750.00",0,1

In [6]:
eda_df = describe_satatistics(main_df)

In [7]:
eda_df

,nunique,unique%,null,type,count,mean,std,min,25%,50%,75%,max
ID,42307,0.499994,0,int64,84615.0,42307.000000,24426.390851,0.0,21153.5,42307.0,63460.5,84614.0
Term,228,0.002695,0,int64,84615.0,108.558447,84.731943,0.0,56.0,82.0,168.0,360.0
NoEmp,196,0.002316,0,int64,84615.0,9.699510,17.365667,0.0,2.0,4.0,12.0,208.0
NewExist,2,0.000024,0,float64,84615.0,1.209632,0.407048,1.0,1.0,1.0,1.0,2.0
CreateJob,49,0.000579,0,int64,84615.0,2.185144,5.112835,0.0,0.0,0.0,2.0,86.0
RetainedJob,83,0.000981,0,int64,84615.0,3.488897,8.124039,0.0,0.0,0.0,4.0,175.0
FranchiseCode,271,0.003203,0,int64,84615.0,1990.058843,10587.667836,0.0,0.0,0.0,1.0,90709.0
RevLineCr,4,0.000047,1079,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LowDoc,6,0.000071,531,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DisbursementDate,916,0.010826,150,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MIS_Status,2,0.000024,0,int64,42307.0,0.892689,0.309512,0.0,1.0,1.0,1.0,1.0
Sector,24,0.000284,0,int64,84615.0,32.950021,22.282333,0.0,22.0,33.0,44.0,81.0
ApprovalDate,3868,0.045713,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ApprovalFY,38,0.000449,0,int64,84615.0,2001.529835,5.881023,1974.0,1997.0,2003.0,2006.0,2014.0
City,2703,0.031945,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State,51,0.000603,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BankState,51,0.000603,11,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DisbursementGross,2694,0.031838,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GrAppv,1425,0.016841,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SBA_Appv,2005,0.023696,0,object,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UrbanRural,3,0.000035,0,int64,84615.0,0.581469,0.741528,0.0,0.0,0.0,1.0,2.0
train_data,1,0.000012,0,int64,84615.0,0.499994,0.500003,0.0,0.0,0.0,1.0,1.0

In [8]:
main_df["DisbursementDate"] = pd.to_datetime(main_df["DisbursementDate"])
main_df["ApprovalDate"] = pd.to_datetime(main_df["ApprovalDate"])

C:\Users\kaminogo.kenji\AppData\Local\Temp\ipykernel_14292\82921768.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  main_df["DisbursementDate"] = pd.to_datetime(main_df["DisbursementDate"])
C:\Users\kaminogo.kenji\AppData\Local\Temp\ipykernel_14292\82921768.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  main_df["ApprovalDate"] = pd.to_datetime(main_df["ApprovalDate"])

In [9]:
le = LabelEncoder()
columns_list = ["RevLineCr","LowDoc","City","State","BankState"]

for col in columns_list:
    le = LabelEncoder()
    le.fit(main_df[col])
    main_df[f"{col}_label"] = le.transform(main_df[col])

In [10]:
money_columns = ["DisbursementGross","GrAppv","SBA_Appv"]

In [11]:
for col in money_columns:
    main_df[col] = main_df[col].str.replace('$', '').replace(',', '')
    main_df[col] = main_df[col].str.replace(",","")
    main_df[col] = main_df[col].str.extract(r"(\d+)")
    main_df[col] = main_df[col].astype(int)

In [12]:
main_df[money_columns].dtypes

DisbursementGross    int32
GrAppv               int32
SBA_Appv             int32
dtype: object

In [13]:
train

,ID,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,RevLineCr,LowDoc,DisbursementDate,MIS_Status,Sector,ApprovalDate,ApprovalFY,City,State,BankState,DisbursementGross,GrAppv,SBA_Appv,UrbanRural,train_data
0,0,163,21,1.0,0,0,1,N,N,31-Jan-98,1,0,22-Sep-06,2006,PHOENIX,AZ,SD,"$80,000.00","$80,000.00","$68,000.00",0,1
1,1,84,6,1.0,4,0,0,0,N,31-Oct-93,1,62,30-Jun-92,1992,MCALESTER,OK,OK,"$287,000.00","$287,000.00","$229,600.00",0,1
2,2,242,45,1.0,4,90,0,N,N,31-Aug-01,1,42,18-Apr-01,2001,HAWTHORNE,NJ,NJ,"$31,983.00","$30,000.00","$15,000.00",1,1
3,3,237,4,1.0,0,0,0,N,N,31-Aug-07,1,33,6-Oct-03,2004,NASHVILLE,TN,SD,"$229,000.00","$229,000.00","$229,000.00",0,1
4,4,184,0,1.0,0,0,0,N,N,8-Jun-83,1,0,17-Dec-99,2000,POMONA,CA,CA,"$525,000.00","$525,000.00","$393,750.00",0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42302,42302,283,14,1.0,0,0,1,N,N,31-Jan-98,1,0,2-Mar-95,1995,PHILADELPHIA,PA,PA,"$80,000.00","$80,000.00","$68,000.00",0,1
42303,42303,53,2,1.0,0,0,0,Y,N,3-Apr-91,1,42,6-Jun-07,2007,LOS ANGELES,CA,SD,"$5,000.00","$5,000.00","$4,250.00",1,1
42304,42304,59,6,2.0,0,0,1,N,N,28-Feb-03,1,42,14-Mar-03,2003,COLUMBUS,OH,OH,"$60,000.00","$60,000.00","$51,000.00",0,1
42305,42305,295,18,1.0,0,8,0,N,N,10-Dec-97,1,42,23-Aug-89,1989,CLOQUET,MN,MN,"$294,000.00","$294,000.00","$220,500.00",0,1
42306,42306,84,4,1.0,0,8,0,N,N,31-Oct-89,1,72,12-Apr-11,2011,SAN GABRIEL,CA,NC,"$67,500.00","$67,500.00","$50,625.00",0,1

In [14]:
def adverarial_validation(label = "train and test adversarial validation"):
    adv=main_df.drop(["MIS_Status","DisbursementDate","ApprovalDate"],axis=1)
    adv_shuffle = adv.sample(frac=1)
    adv_x = adv_shuffle.drop("train_data",axis=1)
    adv_y = adv_shuffle["train_data"]
    val_scores = []
    predictions = np.zeros(len(adv))
    
    sfk = StratifiedKFold(n_splits = 5, random_state = 42, shuffle = True)
    cv = sfk.split(adv_x,adv_y)
    
    for fold,(idx_train,idx_valid) in enumerate(cv):
        adv_lr = LGBMClassifier(random_state=42)
        adv_lr.fit(adv_x.iloc[idx_train],adv_y.iloc[idx_train])
        val_preds = adv_lr.predict_proba(adv_x.iloc[idx_valid])[:,1]
        predictions[idx_valid] = val_preds
        val_score = roc_auc_score(adv_y.iloc[idx_valid], val_preds)
        val_scores.append(val_score)
    
    fpr, tpr, _ = roc_curve(adv['train_data'], predictions)
    
    plt.figure(figsize = (10, 10), dpi = 300)
    sns.lineplot(x=[0, 1], y=[0, 1], linestyle="--", label="Indistinguishable Datasets")
    sns.lineplot(x=fpr, y=tpr, label="Adversarial Validation Classifier")
    plt.title(f'{label} Validation = {np.mean(val_scores):.5f}', weight = 'bold', size = 17)
    plt.xlabel('False Positive Rate')
    plt.ylabel('True Positive Rate')
    plt.show()

In [15]:
main_df.dtypes

ID                            int64
Term                          int64
NoEmp                         int64
NewExist                    float64
CreateJob                     int64
RetainedJob                   int64
FranchiseCode                 int64
RevLineCr                    object
LowDoc                       object
DisbursementDate     datetime64[ns]
MIS_Status                  float64
Sector                        int64
ApprovalDate         datetime64[ns]
ApprovalFY                    int64
City                         object
State                        object
BankState                    object
DisbursementGross             int32
GrAppv                        int32
SBA_Appv                      int32
UrbanRural                    int64
train_data                    int64
RevLineCr_label               int32
LowDoc_label                  int32
City_label                    int32
State_label                   int32
BankState_label               int32
dtype: object

In [16]:
# adverarial_validation()

In [17]:
main_df

,ID,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,RevLineCr,LowDoc,DisbursementDate,MIS_Status,Sector,ApprovalDate,ApprovalFY,City,State,BankState,DisbursementGross,GrAppv,SBA_Appv,UrbanRural,train_data,RevLineCr_label,LowDoc_label,City_label,State_label,BankState_label
0,0,163,21,1.0,0,0,1,N,N,1998-01-31,1.0,0,2006-09-22,2006,PHOENIX,AZ,SD,80000,80000,68000,0,1,1,3,2208,3,42
1,1,84,6,1.0,4,0,0,0,N,1993-10-31,1.0,62,1992-06-30,1992,MCALESTER,OK,OK,287000,287000,229600,0,1,0,3,1723,36,36
2,2,242,45,1.0,4,90,0,N,N,2001-08-31,1.0,42,2001-04-18,2001,HAWTHORNE,NJ,NJ,31983,30000,15000,1,1,1,3,1214,31,31
3,3,237,4,1.0,0,0,0,N,N,2007-08-31,1.0,33,2003-10-06,2004,NASHVILLE,TN,SD,229000,229000,229000,0,1,1,3,1906,42,42
4,4,184,0,1.0,0,0,0,N,N,1983-06-08,1.0,0,1999-12-17,2000,POMONA,CA,CA,525000,525000,393750,0,1,1,3,2246,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84610,84610,243,10,1.0,3,14,0,N,N,2012-12-01,NaN,42,2012-04-23,2012,FT. WRIGHT,KY,OH,390000,150000,127500,0,0,1,3,1022,17,35
84611,84611,178,0,2.0,0,0,1,N,N,2003-11-30,NaN,0,2006-10-27,2007,PHILADELPHIA,PA,RI,100000,100000,90000,0,0,1,3,2207,38,40
84612,84612,42,1,2.0,3,9,0,Y,N,2009-02-28,NaN,33,1989-09-21,1989,ELMHURST,IL,IL,17000,17000,13600,0,0,3,3,858,14,14
84613,84613,76,15,1.0,0,0,0,N,N,2008-01-31,NaN,0,2006-04-03,2006,NASHVILLE,TN,TN,7500,7500,6375,0,0,1,3,1906,42,43
84614,84614,35,3,2.0,1,4,18150,Y,S,2006-12-31,NaN,44,2003-05-13,2003,EUGENE,OR,OR,50700,50700,25350,1,0,3,4,891,37,37

In [18]:
main_df["City"].value_counts()

City
HOUSTON           2378
PITTSBURGH        1864
SALT LAKE CITY    1269
NASHVILLE         1230
POMONA            1207
                  ...
SALFORD              1
South Elgin          1
GLENNS FERRY         1
ATLANTIC             1
REPUBLIC             1
Name: count, Length: 3211, dtype: int64

In [19]:
tmp_df = main_df.copy()
tmp_df["main_key"] = tmp_df["State"].str.cat(tmp_df["Sector"].astype(str), sep="_")
count_df =pd.DataFrame(tmp_df["main_key"].value_counts())
count_df.reset_index(inplace = True)
top_key_list = count_df["main_key"].head(100)

In [20]:
main_df["main_key"] = main_df["State"].str.cat(main_df["Sector"].astype(str), sep="_")
main_df["main_key"] = np.where(main_df["main_key"].isin(top_key_list),main_df["main_key"],"XX")
main_df["main_key"].value_counts()

main_key
XX       32231
TX_0      3408
CA_0      3313
CA_42     2292
PA_0      2170
         ...
FL_22      203
WA_23      203
GA_0       198
TX_53      197
CO_44      196
Name: count, Length: 101, dtype: int64

In [21]:
population_df= pd.read_csv("../data/us_popluation.csv")

In [28]:
eda_df = main_df[["State","UrbanRural","City"]].copy()

In [27]:
num1 = eda_df[eda_df["UrbanRural"]==0]["State"].nunique()
num2 = eda_df[eda_df["UrbanRural"]==1]["State"].nunique()
num3 = eda_df[eda_df["UrbanRural"]==2]["State"].nunique()
print(print(num1,num2,num3))
num1 = eda_df[eda_df["UrbanRural"]==0]["State"].nunique()
num2 = eda_df[eda_df["UrbanRural"]==1]["State"].nunique()
num3 = eda_df[eda_df["UrbanRural"]==2]["State"].nunique()
print(print(num1,num2,num3))

51 51 51
None

In [38]:
for a in range(3):
    print(eda_df[eda_df["UrbanRural"]==(a)]["City"].nunique())

2895
1979
1219

In [41]:
# eda_df02 = eda_df[[eda_df["UrbanRural"]==0]["State"].isin([eda_df["UrbanRural"]==1]["State"].unique())]
city_unique = eda_df[eda_df["UrbanRural"]==1]["State"].unique()
eda_df02 = eda_df[eda_df["UrbanRural"]==0]
eda_df02 = eda_df02[eda_df02["City"].isin(city_unique)]

In [42]:
eda_df02

Empty DataFrame
Columns: [State, UrbanRural, City]
Index: []

In [58]:
def create_groupby_features(target_col,group_feature):
    main_df[f"{group_feature}_group_med"] = main_df.groupby(f"{group_feature}")[target_col]
    main_df[f"{group_feature}_main_key_group_diff"] = main_df[target_col] - main_df[f"{group_feature}_group_med"]

In [91]:
population_df = pd.read_csv("../data/population_for_each_state.csv")

In [92]:
population_df_02 = pd.read_csv("../data/US_population_02.csv")

In [93]:
state_df = pd.read_csv("../data/State.csv")
state_df.rename(columns={"name":"State"},inplace=True)

In [94]:
population_df = pd.merge(population_df,state_df,how ="left", on = "State")

In [96]:
population_df = pd.merge(population_df, population_df_02, how="left",on="State")

In [98]:
population_df.head()

,State,2024,per_2024,2023,2010,name2,1900,1910,1920,1930,1940,1950,1960,1970,1980,1990,2000,2003
0,California,"38,889,770",11.58%,"38,965,193","37,319,550",CA,"1,485,053","2,377,549","3,426,861","5,677,251","6,907,387","10,586,223","15,717,204","19,953,134","23,667,902","29,760,021","33,871,648","35,484,453"
1,Texas,"30,976,754",9.22%,"30,503,301","25,241,897",TX,"3,048,710","3,896,542","4,663,228","5,824,715","6,414,824","7,711,194","9,579,677","11,196,730","14,229,191","16,986,510","20,851,820","22,118,509"
2,Florida,"22,975,931",6.84%,"22,610,726","18,846,143",FL,"528,542","752,619","968,470","1,468,211","1,897,414","2,771,305","4,951,560","6,789,443","9,746,324","12,937,926","15,982,378","17,019,068"
3,New York,"19,469,232",5.80%,"19,571,216","19,399,956",NY,"7,268,894","9,113,614","10,385,227","12,588,066","13,479,142","14,830,192","16,782,304","18,236,967","17,558,072","17,990,455","18,976,457","19,190,115"
4,Pennsylvania,"12,951,275",3.86%,"12,961,683","12,711,406",PA,"6,302,115","7,665,111","8,720,017","9,631,350","9,900,180","10,498,012","11,319,366","11,793,909","11,863,895","11,881,643","12,281,054","12,365,455"

In [99]:
population_df.drop("State",axis=1,inplace=True)

In [102]:
population_df.rename(columns={"name2":"State"},inplace=True)

,2024,per_2024,2023,2010,State,1900,1910,1920,1930,1940,1950,1960,1970,1980,1990,2000,2003
0,"38,889,770",11.58%,"38,965,193","37,319,550",CA,"1,485,053","2,377,549","3,426,861","5,677,251","6,907,387","10,586,223","15,717,204","19,953,134","23,667,902","29,760,021","33,871,648","35,484,453"
1,"30,976,754",9.22%,"30,503,301","25,241,897",TX,"3,048,710","3,896,542","4,663,228","5,824,715","6,414,824","7,711,194","9,579,677","11,196,730","14,229,191","16,986,510","20,851,820","22,118,509"
2,"22,975,931",6.84%,"22,610,726","18,846,143",FL,"528,542","752,619","968,470","1,468,211","1,897,414","2,771,305","4,951,560","6,789,443","9,746,324","12,937,926","15,982,378","17,019,068"
3,"19,469,232",5.80%,"19,571,216","19,399,956",NY,"7,268,894","9,113,614","10,385,227","12,588,066","13,479,142","14,830,192","16,782,304","18,236,967","17,558,072","17,990,455","18,976,457","19,190,115"
4,"12,951,275",3.86%,"12,961,683","12,711,406",PA,"6,302,115","7,665,111","8,720,017","9,631,350","9,900,180","10,498,012","11,319,366","11,793,909","11,863,895","11,881,643","12,281,054","12,365,455"
5,"12,516,863",3.73%,"12,549,689","12,840,545",IL,"4,821,550","5,638,591","6,485,280","7,630,654","7,897,241","8,712,176","10,081,158","11,113,976","11,426,518","11,430,602","12,419,293","12,653,544"
6,"11,812,173",3.52%,"11,785,935","11,539,449",OH,"4,157,545","4,767,121","5,759,394","6,646,697","6,907,612","7,946,627","9,706,397","10,652,017","10,797,630","10,847,115","11,353,140","11,435,798"
7,"11,145,304",3.32%,"11,029,227","9,712,209",GA,"2,216,331","2,609,121","2,895,832","2,908,506","3,123,723","3,444,578","3,943,116","4,589,575","5,463,105","6,478,216","8,186,453","8,684,715"
8,"10,975,017",3.27%,"10,835,491","9,574,586",NC,"1,893,810","2,206,287","2,559,123","3,170,276","3,571,623","4,061,929","4,556,155","5,082,059","5,881,766","6,628,637","8,049,313","8,407,248"
9,"10,041,241",2.99%,"10,037,261","9,877,597",MI,"2,420,982","2,810,173","3,668,412","4,842,325","5,256,106","6,371,766","7,823,194","8,875,083","9,262,078","9,295,297","9,938,444","10,079,985"
10,"9,320,865",2.78%,"9,290,841","8,799,451",NJ,"1,883,669","2,537,167","3,155,900","4,041,334","4,160,165","4,835,329","6,066,782","7,168,164","7,364,823","7,730,188","8,414,350","8,638,396"
11,"8,752,297",2.61%,"8,715,698","8,024,004",VA,"1,854,184","2,061,612","2,309,187","2,421,851","2,677,773","3,318,680","3,966,949","4,648,494","5,346,818","6,187,358","7,078,515","7,386,330"
12,"7,841,283",2.33%,"7,812,880","6,743,009",WA,"518,103","1,141,990","1,356,621","1,563,396","1,736,191","2,378,963","2,853,214","3,409,169","4,132,156","4,866,692","5,894,121","6,131,445"
13,"7,497,004",2.23%,"7,431,344","6,407,342",AZ,"122,931","204,354","334,162","435,573","499,261","749,587","1,302,161","1,770,900","2,718,215","3,665,228","5,130,632","5,580,811"
14,"7,204,002",2.14%,"7,126,489","6,355,518",TN,"2,020,616","2,184,789","2,337,885","2,616,556","2,915,841","3,291,718","3,567,089","3,923,687","4,591,120","4,877,185","5,689,283","5,841,748"
15,"7,020,058",2.09%,"7,001,399","6,566,440",MA,"2,805,346","3,366,416","3,852,356","4,249,614","4,316,721","4,690,514","5,148,578","5,689,170","5,737,037","6,016,425","6,349,097","6,433,422"
16,"6,892,124",2.05%,"6,862,199","6,490,555",IN,"2,516,462","2,700,876","2,930,390","3,238,503","3,427,796","3,934,224","4,662,498","5,193,669","5,490,224","5,544,159","6,080,485","6,195,643"
17,"6,215,144",1.85%,"6,196,156","5,996,089",MO,"3,106,665","3,293,335","3,404,055","3,629,367","3,784,664","3,954,653","4,319,813","4,676,501","4,916,686","5,117,073","5,595,211","5,704,484"
18,"6,196,525",1.84%,"6,180,253","5,788,784",MD,"1,188,044","1,295,346","1,449,661","1,631,526","1,821,244","2,343,001","3,100,689","3,922,399","4,216,975","4,781,468","5,296,486","5,508,909"
19,"5,931,367",1.77%,"5,910,955","5,690,538",WI,"2,069,042","2,333,860","2,632,067","2,939,006","3,137,587","3,434,575","3,951,777","4,417,731","4,705,767","4,891,769","5,363,675","5,472,299"
20,"5,914,181",1.76%,"5,877,610","5,047,539",CO,"539,700","799,024","939,629","1,035,791","1,123,296","1,325,089","1,753,947","2,207,259","2,889,964","3,294,394","4,301,261","4,550,688"
21,"5,761,530",1.72%,"5,737,915","5,310,934",MN,"1,751,394","2,075,708","2,387,125","2,563,953","2,792,300","2,982,483","3,413,864","3,804,971","4,075,970","4,375,099","4,919,479","5,059,375"
22,"5,464,155",1.63%,"5,373,555","4,635,846",SC,"1,340,316","1,515,400","1,683,724","1,738,765","1,899,804","2,117,027","2,382,594","2,590,516","3,121,820","3,486,703","4,012,012","4,147,152"
23,"5,143,033",1.53%,"5,108,468","4,785,514",AL,"1,828,697","2,138,093","2,348,174","2,646,248","2,832,961","3,061,743","3,266,740","3,444,165","3,893,888","4,040,587","4,447,100","4,500,752"
24,"4,559,475",1.36%,"4,573,749","4,544,635",LA,"1,381,625","1,656,388","1,798,509","2,101,593","2,363,880","2,683,516","3,257,022","3,641,306","4,205,900","4,219,973","4,468,976","4,496,334"
25,"4,540,745",1.35%,"4,526,154","4,348,464",KY,"2,147,174","2,289,905","2,416,630","2,614,589","2,845,627","2,944,806","3,038,156","3,218,706","3,660,777","3,685,296","4,041,769","4,117,827"
26,"4,227,337",1.26%,"4,233,358","3,837,614",OR,"413,536","672,765","783,389","953,786","1,089,684","1,521,341","1,768,687","2,091,385","2,633,105","2,842,321","3,421,399","3,559,596"
27,"4,088,377",1.22%,"4,053,824","3,760,014",OK,"790,391","1,657,155","2,028,283","2,396,040","2,336,434","2,233,351","2,328,284","2,559,229","3,025,290","3,145,585","3,450,654","3,511,532"
28,"3,625,646",1.08%,"3,617,176","3,579,173",CT,"908,420","1,114,756","1,380,631","1,606,903","1,709,242","2,007,280","2,535,234","3,031,709","3,107,576","3,287,116","3,405,565","3,483,372"
29,"3,454,232",1.03%,"3,417,734","2,775,413",UT,"276,749","373,351","449,396","507,847","550,310","688,862","890,627","1,059,273","1,461,037","1,722,850","2,233,169","2,351,467"
30,"3,214,315",0.96%,"3,207,004","3,050,819",IA,"2,231,853","2,224,771","2,404,021","2,470,939","2,538,268","2,621,073","2,757,537","2,824,376","2,913,808","2,776,755","2,926,324","2,944,062"
31,"3,210,931",0.96%,"3,194,176","2,702,483",NV,"42,335","81,875","77,407","91,058","110,247","160,083","285,278","488,738","800,493","1,201,833","1,998,257","2,241,154"
32,"3,089,060",0.92%,"3,067,732","2,921,998",AR,"1,311,564","1,574,449","1,752,204","1,854,482","1,949,387","1,909,511","1,786,272","1,923,295","2,286,435","2,350,725","2,673,400","2,725,714"
33,"2,944,376",0.88%,"2,940,546","2,858,266",KS,"1,470,495","1,690,949","1,769,257","1,880,999","1,801,028","1,905,299","2,178,611","2,246,578","2,363,679","2,477,574","2,688,418","2,723,507"
34,"2,940,452",0.88%,"2,939,690","2,970,615",MS,"1,551,270","1,797,114","1,790,618","2,009,821","2,183,796","2,178,914","2,178,141","2,216,912","2,520,638","2,573,216","2,844,658","2,881,281"
35,"2,115,266",0.63%,"2,114,371","2,064,614",NM,"195,310","327,301","360,350","423,317","531,818","681,187","951,023","1,016,000","1,302,894","1,515,069","1,819,046","1,874,614"
36,"1,990,456",0.59%,"1,964,726","1,570,819",ID,"161,772","325,594","431,866","445,032","524,873","588,637","667,191","712,567","943,935","1,006,749","1,293,953","1,366,332"
37,"1,988,698",0.59%,"1,978,379","1,829,591",NE,"1,066,300","1,192,214","1,296,372","1,377,963","1,315,834","1,325,510","1,411,330","1,483,493","1,569,825","1,578,385","1,711,263","1,739,291"
38,"1,766,107",0.53%,"1,770,071","1,854,265",WV,"958,800","1,221,119","1,463,701","1,729,205","1,901,974","2,005,552","1,860,421","1,744,237","1,949,644","1,793,477","1,808,344","1,810,354"
39,"1,430,877",0.43%,"1,435,138","1,364,004",HI,"154,001","191,874","255,881","368,300","422,770","499,794","632,772","768,561","964,691","1,108,229","1,211,537","1,257,608"
40,"1,405,105",0.42%,"1,402,054","1,316,807",NH,"411,588","430,572","443,083","465,293","491,524","533,242","606,921","737,681","920,610","1,109,252","1,235,786","1,287,687"
41,"1,402,106",0.42%,"1,395,722","1,327,651",ME,"694,466","742,371","768,014","797,423","847,226","913,774","969,265","992,048","1,124,660","1,227,928","1,274,923","1,305,728"
42,"1,142,746",0.34%,"1,132,812","990,730",MT,"243,329","376,053","548,889","537,606","559,456","591,024","674,767","694,409","786,690","799,065","902,195","917,621"
43,"1,098,082",0.33%,"1,095,962","1,053,994",RI,"428,556","542,610","604,397","687,497","713,346","791,896","859,488","946,725","947,154","1,003,464","1,048,319","1,076,164"
44,"1,044,321",0.31%,"1,031,890","899,647",DE,"184,735","202,322","223,003","238,380","266,505","318,085","446,292","548,104","594,338","666,168","783,600","817,491"
45,"928,767",0.28%,"919,318","816,193",SD,"401,570","583,888","636,547","692,849","642,961","652,740","680,514","665,507","690,768","696,004","754,844","764,309"
46,"788,940",0.23%,"783,926","674,752",ND,"319,146","577,056","646,872","680,845","641,935","619,636","632,446","617,761","652,717","638,800","642,200","633,837"
47,"733,536",0.22%,"733,406","713,982",AK,"63,592","64,356","55,036","59,278","72,524","128,643","226,167","300,382","401,851","550,043","626,932","648,818"
48,"647,818",0.19%,"647,464","625,886",VT,"343,641","355,956","352,428","359,611","359,231","377,747","389,881","444,330","511,456","562,758","608,827","619,107"
49,"586,485",0.17%,"584,057","564,531",WY,"92,531","145,965","194,402","225,565","250,742","290,529","330,066","332,416","469,557","453,588","493,782","501,242"

In [105]:
population_df["1900"].str.replace(",","")

0     1485053
1     3048710
2      528542
3     7268894
4     6302115
5     4821550
6     4157545
7     2216331
8     1893810
9     2420982
10    1883669
11    1854184
12     518103
13     122931
14    2020616
15    2805346
16    2516462
17    3106665
18    1188044
19    2069042
20     539700
21    1751394
22    1340316
23    1828697
24    1381625
25    2147174
26     413536
27     790391
28     908420
29     276749
30    2231853
31      42335
32    1311564
33    1470495
34    1551270
35     195310
36     161772
37    1066300
38     958800
39     154001
40     411588
41     694466
42     243329
43     428556
44     184735
45     401570
46     319146
47      63592
48     343641
49      92531
Name: 1900, dtype: object

In [111]:
population_df["2024"].astype(int)

0     38889770
1     30976754
2     22975931
3     19469232
4     12951275
5     12516863
6     11812173
7     11145304
8     10975017
9     10041241
10     9320865
11     8752297
12     7841283
13     7497004
14     7204002
15     7020058
16     6892124
17     6215144
18     6196525
19     5931367
20     5914181
21     5761530
22     5464155
23     5143033
24     4559475
25     4540745
26     4227337
27     4088377
28     3625646
29     3454232
30     3214315
31     3210931
32     3089060
33     2944376
34     2940452
35     2115266
36     1990456
37     1988698
38     1766107
39     1430877
40     1405105
41     1402106
42     1142746
43     1098082
44     1044321
45      928767
46      788940
47      733536
48      647818
49      586485
Name: 2024, dtype: int32

In [112]:
years = ["2024","2023","2010",'1900', '1910', '1920','1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2003']
for year in years:
    print(year)
    population_df[year] = population_df[year].str.replace(",","")
    population_df[year] = population_df[year].astype(int)

2024
2023
2010
1900
1910
1920
1930
1940
1950
1960
1970
1980
1990
2000
2003

In [114]:
population_df["per_2024"] = population_df["per_2024"].str.replace("%","")
population_df["per_2024"] = population_df["per_2024"].astype(float)

In [116]:
population_df["1900"].sum()

75933450

In [117]:
for year in ["2023","2010",'1900', '1910', '1920','1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2003']:
    population_df[f"per_{year}"] = population_df[year]/population_df[year].sum()

In [ ]:
for a in ["State","main_key","Sector"]:
    for c in ["NoEmp","DisbursementGross","GrAppv","SBA_Appv"]

In [88]:
population_df = pd.concat([population_df,population_df_02],axis=1)