IMPORT

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import set_config
from sklearn.inspection import permutation_importance
from sklearn.model_selection import StratifiedKFold, RepeatedStratifiedKFold
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.ensemble import RandomForestRegressor, IsolationForest
from sklearn.metrics import roc_auc_score, roc_curve, make_scorer, f1_score
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import SimpleImputer, IterativeImputer, KNNImputer
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.base import BaseEstimator, TransformerMixin, clone
from sklearn.preprocessing import FunctionTransformer, StandardScaler, MinMaxScaler, LabelEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression, RidgeClassifier
from sklearn.naive_bayes import GaussianNB, BernoulliNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
from sklearn.ensemble import HistGradientBoostingClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.ensemble import VotingClassifier, StackingClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.decomposition import TruncatedSVD,NMF,FactorAnalysis,KernelPCA,FastICA
from scipy.cluster.hierarchy import dendrogram, linkage
from scipy.spatial.distance import squareform
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from catboost import CatBoostClassifier
import os 
import gc
import random
sns.set_theme(style = 'white', palette = 'viridis')
pal = sns.color_palette('viridis')

pd.set_option('display.max_rows', 100)
set_config(transform_output = 'pandas')
pd.options.mode.chained_assignment = None

In [2]:
class CFG:
    folds=5
    seed=1
    train=False
    ver='git_'
    kfold='sk'
    model='lgb'
    n_components=10
    drop_col=[]
    cluster_num=4
    num_iterations=100000
def fix_seed(seed=CFG.seed):
    os.environ['PYTHONHASHSEED'] = str(seed)
    # Python random
    random.seed(seed)
    # Numpy
    np.random.seed(seed)
    # Pytorch
    os.environ["CUDA_DEVICE_ORDER"] = "PCI_BUS_ID"
    os.environ["CUDA_VISIBLE_DEVICES"] = "0"
fix_seed()

In [3]:
train = pd.read_csv("../data/train.csv")
test = pd.read_csv('../data/test.csv')

In [4]:
def describe_satatistics(input_df):
    desc = pd.DataFrame(index=list(input_df))
    desc["nunique"] = train.nunique()
    desc["unique%"] = train.nunique() / len(input_df)
    desc["null"] = train.isnull().sum()
    desc["type"] = train.dtypes
    desc = pd.concat([desc,input_df.describe().T],axis=1)
    return desc

# Preprocessing

In [5]:
train_df = train.copy()
test_df = test.copy()

In [6]:
train["train_data"]=1
test["train_data"]=0
eda_df = pd.concat([train,test])
eda_df.reset_index(inplace=True,drop=True)

In [7]:
train_df_0 = train_df[train_df["UrbanRural"]==0]
train_df_0.reset_index(drop=True,inplace=True)
train_df_12 = train_df[(train_df["UrbanRural"]==1) |(train_df["UrbanRural"]==2) ]
train_df_12.reset_index(drop=True,inplace=True)
test_df_0 = test_df[test_df["UrbanRural"]==0]
test_df_0.reset_index(drop=True,inplace=True)
test_df_12 = test_df[(test_df["UrbanRural"]==1) |(test_df["UrbanRural"]==2) ]
test_df_12.reset_index(drop=True,inplace=True)

In [8]:
dataframe_list = [eda_df,train_df,test_df,test_df_0,test_df_12,train_df_0,train_df_12]

In [9]:
pd.set_option('display.max_columns', None)
eda_df.head()

,Unnamed: 0,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,RevLineCr,LowDoc,DisbursementDate,MIS_Status,Sector,ApprovalDate,ApprovalFY,City,State,BankState,DisbursementGross,GrAppv,SBA_Appv,UrbanRural,train_data
0,0,163,21,1.0,0,0,1,N,N,31-Jan-98,1.0,0,22-Sep-06,2006,PHOENIX,AZ,SD,"$80,000.00","$80,000.00","$68,000.00",0,1
1,1,84,6,1.0,4,0,0,0,N,31-Oct-93,1.0,62,30-Jun-92,1992,MCALESTER,OK,OK,"$287,000.00","$287,000.00","$229,600.00",0,1
2,2,242,45,1.0,4,90,0,N,N,31-Aug-01,1.0,42,18-Apr-01,2001,HAWTHORNE,NJ,NJ,"$31,983.00","$30,000.00","$15,000.00",1,1
3,3,237,4,1.0,0,0,0,N,N,31-Aug-07,1.0,33,6-Oct-03,2004,NASHVILLE,TN,SD,"$229,000.00","$229,000.00","$229,000.00",0,1
4,4,184,0,1.0,0,0,0,N,N,8-Jun-83,1.0,0,17-Dec-99,2000,POMONA,CA,CA,"$525,000.00","$525,000.00","$393,750.00",0,1

In [10]:
def clean_date(input_df,col):
    input_df[col] = pd.to_datetime(input_df[col])
    return input_df

In [11]:
for c in dataframe_list:
    for a in ["DisbursementDate","ApprovalDate"]:
        c = clean_date(c,a)

C:\Users\kaminogo.kenji\AppData\Local\Temp\ipykernel_11608\2940027403.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  input_df[col] = pd.to_datetime(input_df[col])
C:\Users\kaminogo.kenji\AppData\Local\Temp\ipykernel_11608\2940027403.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  input_df[col] = pd.to_datetime(input_df[col])

C:\Users\kaminogo.kenji\AppData\Local\Temp\ipykernel_11608\2940027403.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  input_df[col] = pd.to_datetime(input_df[col])
C:\Users\kaminogo.kenji\AppData\Local\Temp\ipykernel_11608\2940027403.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  input_df[col] = pd.to_datetime(input_df[col])
C:\Users\kaminogo.kenji\AppData\Local\Temp\ipykernel_11608\2940027403.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  input_df[col] = pd.to_datetime(input_df[col])
C:\Users\kaminogo.kenji\AppData\Local\Temp\ipykernel_11608\2940027403.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  input_df[col] = pd.to_datetime(input_df[col])
C:\Users\kaminogo.kenji\AppData\Local\Temp\ipykernel_11608\2940027403.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  input_df[col] = pd.to_datetime(input_df[col])
C:\Users\kaminogo.kenji\AppData\Local\Temp\ipykernel_11608\2940027403.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  input_df[col] = pd.to_datetime(input_df[col])
C:\Users\kaminogo.kenji\AppData\Local\Temp\ipykernel_11608\2940027403.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  input_df[col] = pd.to_datetime(input_df[col])
C:\Users\kaminogo.kenji\AppData\Local\Temp\ipykernel_11608\2940027403.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  input_df[col] = pd.to_datetime(input_df[col])
C:\Users\kaminogo.kenji\AppData\Local\Temp\ipykernel_11608\2940027403.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  input_df[col] = pd.to_datetime(input_df[col])
C:\Users\kaminogo.kenji\AppData\Local\Temp\ipykernel_11608\2940027403.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  input_df[col] = pd.to_datetime(input_df[col])
C:\Users\kaminogo.kenji\AppData\Local\Temp\ipykernel_11608\2940027403.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  input_df[col] = pd.to_datetime(input_df[col])
C:\Users\kaminogo.kenji\AppData\Local\Temp\ipykernel_11608\2940027403.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  input_df[col] = pd.to_datetime(input_df[col])

In [12]:
le = LabelEncoder()
label_columns_list = ["RevLineCr","LowDoc","City","State","BankState"]
def label_encode(input_df):
    for col in label_columns_list:
        le = LabelEncoder()
        le.fit(input_df[col])
        input_df[f"{col}_label"] = le.transform(input_df[col])
    return input_df

In [13]:
def clean_money(input_df):
    money_columns = ["DisbursementGross","GrAppv","SBA_Appv"]
    for col in money_columns:
        input_df[col] = input_df[col].str.replace('$', '').replace(',', '')
        input_df[col] = input_df[col].str.replace(",","")
        input_df[col] = input_df[col].str.extract(r"(\d+)")
        input_df[col] = input_df[col].astype(int)
    return input_df

In [14]:
def create_NoEmpLabel(input_df):
    input_df["NoEmp_label"] = 0
    input_df["NoEmp_label"] = np.where(input_df["NoEmp"]<3,1,input_df["NoEmp_label"])
    input_df["NoEmp_label"] = np.where((input_df["NoEmp"]>=3) & (input_df["NoEmp"]<5),2,input_df["NoEmp_label"])
    input_df["NoEmp_label"] = np.where((input_df["NoEmp"]>=5 )& (input_df["NoEmp"]<13),3,input_df["NoEmp_label"])
    input_df["NoEmp_label"] = np.where(input_df["NoEmp"]>=13,4,input_df["NoEmp_label"])
    print(input_df["NoEmp_label"].value_counts())
    return input_df

In [15]:
test_df_0.dtypes

Unnamed: 0                    int64
Term                          int64
NoEmp                         int64
NewExist                    float64
CreateJob                     int64
RetainedJob                   int64
FranchiseCode                 int64
RevLineCr                    object
LowDoc                       object
DisbursementDate     datetime64[ns]
Sector                        int64
ApprovalDate         datetime64[ns]
ApprovalFY                    int64
City                         object
State                        object
BankState                    object
DisbursementGross            object
GrAppv                       object
SBA_Appv                     object
UrbanRural                    int64
dtype: object

In [16]:
for c in dataframe_list:
        c = clean_money(c)
        c = label_encode(c)
        c = create_NoEmpLabel(c)

NoEmp_label
1    25873
2    20864
4    20698
3    17180
Name: count, dtype: int64
NoEmp_label
1    12945
2    10465
4    10332
3     8565
Name: count, dtype: int64
NoEmp_label
1    12928
2    10399
4    10366
3     8615
Name: count, dtype: int64
NoEmp_label
4    7400
1    5841
3    5817
2    5286
Name: count, dtype: int64
NoEmp_label
1    7087
2    5113
4    2966
3    2798
Name: count, dtype: int64
NoEmp_label
4    7301
1    5735
3    5733
2    5268
Name: count, dtype: int64
NoEmp_label
1    7210
2    5197
4    3031
3    2832
Name: count, dtype: int64

In [17]:
def create_main_key(input_df,column):
    tmp_df = input_df.copy()
    tmp_df[f"main_key_{column}"] = tmp_df[f"{column}"].astype(str).str.cat(tmp_df["Sector"].astype(str), sep="_")
    count_df =pd.DataFrame(tmp_df[f"main_key_{column}"].value_counts())
    count_df.reset_index(inplace = True)
    top_key_list = count_df[f"main_key_{column}"].head(100)
    input_df[f"main_key_{column}"] = input_df[f"{column}"].astype(str).str.cat(input_df["Sector"].astype(str), sep="_")
    input_df[f"main_key_{column}"] = np.where(input_df[f"main_key_{column}"].isin(top_key_list),input_df[f"main_key_{column}"],"XX")
    input_df[f"main_key_{column}"].value_counts()
    return input_df

In [18]:
main_key_list = []
for i,dataFrame in enumerate(dataframe_list):
    for col in ["NoEmp_label","State","City"]:
            dataFrame= create_main_key(dataFrame,col)
            if i == 0:
                main_key_list.append(f"main_key_{col}")
            print(col,"completed")

NoEmp_label completed
State completed
City completed
NoEmp_label completed
State completed
City completed
NoEmp_label completed
State completed
City completed
NoEmp_label completed
State completed
City completed
NoEmp_label completed
State completed
City completed
NoEmp_label completed
State completed
City completed
NoEmp_label completed
State completed
City completed

In [19]:
main_key_list

['main_key_NoEmp_label', 'main_key_State', 'main_key_City']

In [20]:
def create_groupby_features(input_df,target_col,group_feature):
    tmp_df =  input_df.groupby(group_feature)[target_col].agg(["median"])
    tmp_df.reset_index(inplace=True)
    tmp_df.rename(columns = {"median":f"{target_col}_{group_feature}_med"},inplace=True)
    if group_feature=='main_key':
        tmp_df[group_feature]=np.where(tmp_df[group_feature]=='XX','ZZZ',tmp_df[group_feature])
    input_df = pd.merge(input_df,tmp_df,how="left",on=group_feature)
    input_df[f"{target_col}_{group_feature}_diff"] = input_df[target_col] - input_df[f"{target_col}_{group_feature}_med"]
    print("completed")
    return input_df[[f"{target_col}_{group_feature}_med",f"{target_col}_{group_feature}_diff"]]

In [21]:
for c in dataframe_list:
    for key in main_key_list:
        for col in ["DisbursementGross","GrAppv","SBA_Appv","CreateJob","RetainedJob","NoEmp"]:
            c[[f"{col}_{key}_med",f"{col}_{key}_diff"]] = create_groupby_features(c,col,key)

completed

completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed
completed

In [22]:
eda_df

,Unnamed: 0,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,RevLineCr,LowDoc,DisbursementDate,MIS_Status,Sector,ApprovalDate,ApprovalFY,City,State,BankState,DisbursementGross,GrAppv,SBA_Appv,UrbanRural,train_data,RevLineCr_label,LowDoc_label,City_label,State_label,BankState_label,NoEmp_label,main_key_NoEmp_label,main_key_State,main_key_City,DisbursementGross_main_key_NoEmp_label_med,DisbursementGross_main_key_NoEmp_label_diff,GrAppv_main_key_NoEmp_label_med,GrAppv_main_key_NoEmp_label_diff,SBA_Appv_main_key_NoEmp_label_med,SBA_Appv_main_key_NoEmp_label_diff,CreateJob_main_key_NoEmp_label_med,CreateJob_main_key_NoEmp_label_diff,RetainedJob_main_key_NoEmp_label_med,RetainedJob_main_key_NoEmp_label_diff,NoEmp_main_key_NoEmp_label_med,NoEmp_main_key_NoEmp_label_diff,DisbursementGross_main_key_State_med,DisbursementGross_main_key_State_diff,GrAppv_main_key_State_med,GrAppv_main_key_State_diff,SBA_Appv_main_key_State_med,SBA_Appv_main_key_State_diff,CreateJob_main_key_State_med,CreateJob_main_key_State_diff,RetainedJob_main_key_State_med,RetainedJob_main_key_State_diff,NoEmp_main_key_State_med,NoEmp_main_key_State_diff,DisbursementGross_main_key_City_med,DisbursementGross_main_key_City_diff,GrAppv_main_key_City_med,GrAppv_main_key_City_diff,SBA_Appv_main_key_City_med,SBA_Appv_main_key_City_diff,CreateJob_main_key_City_med,CreateJob_main_key_City_diff,RetainedJob_main_key_City_med,RetainedJob_main_key_City_diff,NoEmp_main_key_City_med,NoEmp_main_key_City_diff
0,0,163,21,1.0,0,0,1,N,N,1998-01-31,1.0,0,2006-09-22,2006,PHOENIX,AZ,SD,80000,80000,68000,0,1,1,3,2208,3,42,4,4_0,AZ_0,PHOENIX_0,100000.0,-20000.0,100000.0,-20000.0,80000.0,-12000.0,0.0,0.0,0.0,0.0,19.0,2.0,80000.0,0.0,80000.0,0.0,68000.0,0.0,0.0,0.0,0.0,0.0,6.0,15.0,80000.0,0.0,80000.0,0.0,68000.0,0.0,0.0,0.0,0.0,0.0,10.0,11.0
1,1,84,6,1.0,4,0,0,0,N,1993-10-31,1.0,62,1992-06-30,1992,MCALESTER,OK,OK,287000,287000,229600,0,1,0,3,1723,36,36,3,3_62,XX,XX,120000.0,167000.0,100000.0,187000.0,76500.0,153100.0,0.0,4.0,0.0,0.0,6.0,0.0,99000.0,188000.0,83000.0,204000.0,57600.0,172000.0,0.0,4.0,0.0,0.0,4.0,2.0,99000.0,188000.0,84000.0,203000.0,58500.0,171100.0,0.0,4.0,0.0,0.0,4.0,2.0
2,2,242,45,1.0,4,90,0,N,N,2001-08-31,1.0,42,2001-04-18,2001,HAWTHORNE,NJ,NJ,31983,30000,15000,1,1,1,3,1214,31,31,4,4_42,NJ_42,XX,116664.0,-84681.0,91000.0,-61000.0,58100.0,-43100.0,0.0,4.0,0.0,90.0,18.0,27.0,115000.0,-83017.0,100000.0,-70000.0,60350.0,-45350.0,0.0,4.0,0.0,90.0,13.0,32.0,99000.0,-67017.0,84000.0,-54000.0,58500.0,-43500.0,0.0,4.0,0.0,90.0,4.0,41.0
3,3,237,4,1.0,0,0,0,N,N,2007-08-31,1.0,33,2003-10-06,2004,NASHVILLE,TN,SD,229000,229000,229000,0,1,1,3,1906,42,42,2,2_33,TN_33,NASHVILLE_33,98000.0,131000.0,83000.0,146000.0,55800.0,173200.0,0.0,0.0,1.0,-1.0,4.0,0.0,121000.0,108000.0,121000.0,108000.0,88500.0,140500.0,0.0,0.0,1.0,-1.0,6.0,-2.0,154202.5,74797.5,139000.0,90000.0,115500.0,113500.0,0.0,0.0,0.0,0.0,6.0,-2.0
4,4,184,0,1.0,0,0,0,N,N,1983-06-08,1.0,0,1999-12-17,2000,POMONA,CA,CA,525000,525000,393750,0,1,1,3,2246,4,4,1,1_0,CA_0,POMONA_0,80000.0,445000.0,80000.0,445000.0,68000.0,325750.0,0.0,0.0,0.0,0.0,1.0,-1.0,110000.0,415000.0,110000.0,415000.0,90000.0,303750.0,0.0,0.0,0.0,0.0,4.0,-4.0,243000.0,282000.0,243000.0,282000.0,183750.0,210000.0,0.0,0.0,0.0,0.0,2.0,-2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84610,84610,243,10,1.0,3,14,0,N,N,2012-12-01,NaN,42,2012-04-23,2012,FT. WRIGHT,KY,OH,390000,150000,127500,0,0,1,3,1022,17,35,3,3_42,XX,XX,104840.0,285160.0,92000.0,58000.0,62000.0,65500.0,0.0,3.0,0.0,14.0,6.0,4.0,99000.0,291000.0,83000.0,67000.0,57600.0,69900.0,0.0,3.0,0.0,14.0,4.0,6.0,99000.0,291000.0,84000.0,66000.0,58500.0,69000.0,0.0,3.0,0.0,14.0,4.0,6.0
84611,84611,178,0,2.0,0,0,1,N,N,2003-11-30,NaN,0,2006-10-27,2007,PHILADELPHIA,PA,RI,100000,100000,90000,0,0,1,3,2207,38,40,1,1_0,PA_0,PHILADELPHIA_0,80000.0,20000.0,80000.0,20000.0,68000.0,22000.0,0.0,0.0,0.0,0.0,1.0,-1.0,80000.0,20000.0,80000.0,20000.0,64000.0,26000.0,0.0,0.0,0.0,0.0,4.0,-4.0,80000.0,20000.0,80000.0,20000.0,68000.0,22000.0,0.0,0.0,0.0,0.0,5.0,-5.0
84612,84612,42,1,2.0,3,9,0,Y,N,2009-02-28,NaN,33,1989-09-21,1989,ELMHURST,IL,IL,17000,17000,13600,0,0,3,3,858,14,14,1,1_33,IL_33,XX,50000.0,-33000.0,50000.0,-33000.0,25000.0,-11400.0,0.0,3.0,1.0,8.0,1.0,0.0,105635.0,-88635.0,100000.0,-83000.0,51000.0,-37400.0,0.0,3.0,1.0,8.0,6.0,-5.0,99000.0,-82000.0,84000.0,-67000.0,58500.0,-44900.0,0.0,3.0,0.0,9.0,4.0,-3.0
84613,84613,76,15,1.0,0,0,0,N,N,2008-01-31,NaN,0,2006-04-03,2006,NASHVILLE,TN,TN,7500,7500,6375,0,0,1,3,1906,42,43,4,4_0,TN_0,NASHVILLE_0,100000.0,-92500.0,100000.0,-92500.0,80000.0,-73625.0,0.0,0.0,0.0,0.0,19.0,-4.0,125000.0,-117500.0,125000.0,-117500.0,109250.0,-102875.0,0.0,0.0,0.0,0.0,5.0,10.0,275000.0,-267500.0,275000.0,-267500.0,206250.0,-199875.0,0.0,0.0,0.0,0.0,4.0,11.0
84614,84614,35,3,2.0,1,4,18150,Y,S,2006-12-31,NaN,44,2003-05-13,2003,EUGENE,OR,OR,50700,50700,25350,1,0,3,4,891,37,37,2,2_44,XX,XX,100000.0,-49300.0,100000.0,-49300.0,76000.0,-50650.0,0.0,1.0,0.0,4.0,3.0,0.0,99000.0,-48300.0,83000.0,-32300.0,57600.0,-32250.0,0.0,1.0,0.0,4.0,4.0,-1.0,99000.0,-48300.0,84000.0,-33300.0,58500.0,-33150.0,0.0,1.0,0.0,4.0,4.0,-1.0

In [23]:
train_df

,Unnamed: 0,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,RevLineCr,LowDoc,DisbursementDate,MIS_Status,Sector,ApprovalDate,ApprovalFY,City,State,BankState,DisbursementGross,GrAppv,SBA_Appv,UrbanRural,RevLineCr_label,LowDoc_label,City_label,State_label,BankState_label,NoEmp_label,main_key_NoEmp_label,main_key_State,main_key_City,DisbursementGross_main_key_NoEmp_label_med,DisbursementGross_main_key_NoEmp_label_diff,GrAppv_main_key_NoEmp_label_med,GrAppv_main_key_NoEmp_label_diff,SBA_Appv_main_key_NoEmp_label_med,SBA_Appv_main_key_NoEmp_label_diff,CreateJob_main_key_NoEmp_label_med,CreateJob_main_key_NoEmp_label_diff,RetainedJob_main_key_NoEmp_label_med,RetainedJob_main_key_NoEmp_label_diff,NoEmp_main_key_NoEmp_label_med,NoEmp_main_key_NoEmp_label_diff,DisbursementGross_main_key_State_med,DisbursementGross_main_key_State_diff,GrAppv_main_key_State_med,GrAppv_main_key_State_diff,SBA_Appv_main_key_State_med,SBA_Appv_main_key_State_diff,CreateJob_main_key_State_med,CreateJob_main_key_State_diff,RetainedJob_main_key_State_med,RetainedJob_main_key_State_diff,NoEmp_main_key_State_med,NoEmp_main_key_State_diff,DisbursementGross_main_key_City_med,DisbursementGross_main_key_City_diff,GrAppv_main_key_City_med,GrAppv_main_key_City_diff,SBA_Appv_main_key_City_med,SBA_Appv_main_key_City_diff,CreateJob_main_key_City_med,CreateJob_main_key_City_diff,RetainedJob_main_key_City_med,RetainedJob_main_key_City_diff,NoEmp_main_key_City_med,NoEmp_main_key_City_diff
0,0,163,21,1.0,0,0,1,N,N,1998-01-31,1,0,2006-09-22,2006,PHOENIX,AZ,SD,80000,80000,68000,0,1,3,1857,3,41,4,4_0,AZ_0,PHOENIX_0,100000.0,-20000.0,100000.0,-20000.0,82500.0,-14500.0,0.0,0.0,0.0,0.0,19.0,2.0,80000.0,0.0,80000.0,0.0,68000.0,0.0,0.0,0.0,0.0,0.0,7.0,14.0,80000.0,0.0,80000.0,0.0,68000.0,0.0,0.0,0.0,0.0,0.0,10.0,11.0
1,1,84,6,1.0,4,0,0,0,N,1993-10-31,1,62,1992-06-30,1992,MCALESTER,OK,OK,287000,287000,229600,0,0,3,1451,36,36,3,3_62,XX,XX,121000.0,166000.0,100000.0,187000.0,80000.0,149600.0,0.0,4.0,0.0,0.0,6.0,0.0,99000.0,188000.0,82500.0,204500.0,56270.0,173330.0,0.0,4.0,0.0,0.0,4.0,2.0,100000.0,187000.0,85000.0,202000.0,59500.0,170100.0,0.0,4.0,0.0,0.0,4.0,2.0
2,2,242,45,1.0,4,90,0,N,N,2001-08-31,1,42,2001-04-18,2001,HAWTHORNE,NJ,NJ,31983,30000,15000,1,1,3,1021,31,31,4,4_42,NJ_42,XX,121050.0,-89067.0,100000.0,-70000.0,65600.0,-50600.0,0.0,4.0,0.0,90.0,18.0,27.0,110000.0,-78017.0,100000.0,-70000.0,76500.0,-61500.0,0.0,4.0,0.0,90.0,12.0,33.0,100000.0,-68017.0,85000.0,-55000.0,59500.0,-44500.0,0.0,4.0,0.0,90.0,4.0,41.0
3,3,237,4,1.0,0,0,0,N,N,2007-08-31,1,33,2003-10-06,2004,NASHVILLE,TN,SD,229000,229000,229000,0,1,3,1610,42,41,2,2_33,TN_33,NASHVILLE_33,98000.0,131000.0,82050.0,146950.0,56000.0,173000.0,0.0,0.0,1.0,-1.0,4.0,0.0,118000.0,111000.0,111600.0,117400.0,77925.0,151075.0,0.0,0.0,1.0,-1.0,5.5,-1.5,158300.0,70700.0,168300.0,60700.0,132000.0,97000.0,0.0,0.0,0.0,0.0,6.0,-2.0
4,4,184,0,1.0,0,0,0,N,N,1983-06-08,1,0,1999-12-17,2000,POMONA,CA,CA,525000,525000,393750,0,1,3,1893,4,4,1,1_0,CA_0,POMONA_0,80000.0,445000.0,80000.0,445000.0,68000.0,325750.0,0.0,0.0,0.0,0.0,1.0,-1.0,110000.0,415000.0,110000.0,415000.0,90000.0,303750.0,0.0,0.0,0.0,0.0,4.0,-4.0,275000.0,250000.0,275000.0,250000.0,243000.0,150750.0,0.0,0.0,0.0,0.0,3.0,-3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42302,42302,283,14,1.0,0,0,1,N,N,1998-01-31,1,0,1995-03-02,1995,PHILADELPHIA,PA,PA,80000,80000,68000,0,1,3,1856,38,38,4,4_0,PA_0,PHILADELPHIA_0,100000.0,-20000.0,100000.0,-20000.0,82500.0,-14500.0,0.0,0.0,0.0,0.0,19.0,-5.0,80000.0,0.0,80000.0,0.0,64000.0,4000.0,0.0,0.0,0.0,0.0,4.0,10.0,80000.0,0.0,80000.0,0.0,68000.0,0.0,0.0,0.0,0.0,0.0,6.0,8.0
42303,42303,53,2,1.0,0,0,0,Y,N,1991-04-03,1,42,2007-06-06,2007,LOS ANGELES,CA,SD,5000,5000,4250,1,3,3,1349,4,41,1,1_42,CA_42,LOS ANGELES_42,61937.0,-56937.0,60000.0,-55000.0,50000.0,-45750.0,0.0,0.0,1.0,-1.0,1.0,1.0,80809.5,-75809.5,70000.0,-65000.0,48400.0,-44150.0,0.0,0.0,0.0,0.0,4.0,-2.0,25000.0,-20000.0,25000.0,-20000.0,12500.0,-8250.0,8.0,-8.0,9.0,-9.0,2.0,0.0
42304,42304,59,6,2.0,0,0,1,N,N,2003-02-28,1,42,2003-03-14,2003,COLUMBUS,OH,OH,60000,60000,51000,0,1,3,485,35,35,3,3_42,OH_42,XX,111500.0,-51500.0,99000.0,-39000.0,65600.0,-14600.0,0.0,0.0,0.0,0.0,6.0,0.0,145000.0,-85000.0,131000.0,-71000.0,100000.0,-49000.0,0.0,0.0,0.0,0.0,5.0,1.0,100000.0,-40000.0,85000.0,-25000.0,59500.0,-8500.0,0.0,0.0,0.0,0.0,4.0,2.0
42305,42305,295,18,1.0,0,8,0,N,N,1997-12-10,1,42,1989-08-23,1989,CLOQUET,MN,MN,294000,294000,220500,0,1,3,458,23,23,4,4_42,MN_42,XX,121050.0,172950.0,100000.0,194000.0,65600.0,154900.0,0.0,0.0,0.0,8.0,18.0,0.0,130500.0,163500.0,105000.0,189000.0,91387.5,129112.5,0.0,0.0,0.0,8.0,5.5,12.5,100000.0,194000.0,85000.0,209000.0,59500.0,161000.0,0.0,0.0,0.0,8.0,4.0,14.0
42306,42306,84,4,1.0,0,8,0,N,N,1989-10-31,1,72,2011-04-12,2011,SAN GABRIEL,CA,NC,67500,67500,50625,0,1,3,2098,4,27,2,2_72,CA_72,XX,122000.0,-54500.0,100000.0,-32500.0,85500.0,-34875.0,0.0,0.0,0.0,8.0,3.0,1.0,91112.0,-23612.0,75000.0,-7500.0,51850.0,-1225.0,0.0,0.0,0.0,8.0,4.0,0.0,100000.0,-32500.0,85000.0,-17500.0,59500.0,-8875.0,0.0,0.0,0.0,8.0,4.0,0.0

In [24]:
test_df

,Unnamed: 0,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,RevLineCr,LowDoc,DisbursementDate,Sector,ApprovalDate,ApprovalFY,City,State,BankState,DisbursementGross,GrAppv,SBA_Appv,UrbanRural,RevLineCr_label,LowDoc_label,City_label,State_label,BankState_label,NoEmp_label,main_key_NoEmp_label,main_key_State,main_key_City,DisbursementGross_main_key_NoEmp_label_med,DisbursementGross_main_key_NoEmp_label_diff,GrAppv_main_key_NoEmp_label_med,GrAppv_main_key_NoEmp_label_diff,SBA_Appv_main_key_NoEmp_label_med,SBA_Appv_main_key_NoEmp_label_diff,CreateJob_main_key_NoEmp_label_med,CreateJob_main_key_NoEmp_label_diff,RetainedJob_main_key_NoEmp_label_med,RetainedJob_main_key_NoEmp_label_diff,NoEmp_main_key_NoEmp_label_med,NoEmp_main_key_NoEmp_label_diff,DisbursementGross_main_key_State_med,DisbursementGross_main_key_State_diff,GrAppv_main_key_State_med,GrAppv_main_key_State_diff,SBA_Appv_main_key_State_med,SBA_Appv_main_key_State_diff,CreateJob_main_key_State_med,CreateJob_main_key_State_diff,RetainedJob_main_key_State_med,RetainedJob_main_key_State_diff,NoEmp_main_key_State_med,NoEmp_main_key_State_diff,DisbursementGross_main_key_City_med,DisbursementGross_main_key_City_diff,GrAppv_main_key_City_med,GrAppv_main_key_City_diff,SBA_Appv_main_key_City_med,SBA_Appv_main_key_City_diff,CreateJob_main_key_City_med,CreateJob_main_key_City_diff,RetainedJob_main_key_City_med,RetainedJob_main_key_City_diff,NoEmp_main_key_City_med,NoEmp_main_key_City_diff
0,42307,5,2,1.0,1,0,0,T,N,2004-07-31,23,2007-08-06,2007,SUNNYVALE,CA,CA,25000,25000,21250,1,2,3,2308,4,4,1,1_23,CA_23,XX,65000.0,-40000.0,60000.0,-35000.0,40705.0,-19455.0,0.0,1.0,1.0,-1.0,1.0,1.0,70000.0,-45000.0,62200.0,-37200.0,43375.0,-22125.0,0.0,1.0,0.0,0.0,3.0,-1.0,98500.0,-73500.0,83000.0,-58000.0,57600.0,-36350.0,0.0,1.0,0.0,0.0,4.0,-2.0
1,42308,235,13,1.0,9,14,77725,Y,N,1995-01-11,44,2004-03-08,2004,PITTSBURGH,PA,PA,15000,15000,7500,0,3,3,1862,38,38,4,4_44,PA_44,XX,130150.0,-115150.0,108100.0,-93100.0,84480.0,-76980.0,0.0,9.0,0.0,14.0,18.0,-5.0,120600.0,-105600.0,100900.0,-85900.0,76000.0,-68500.0,0.0,9.0,0.0,14.0,4.0,9.0,98500.0,-83500.0,83000.0,-68000.0,57600.0,-50100.0,0.0,9.0,0.0,14.0,4.0,9.0
2,42309,31,5,2.0,0,0,0,N,NaN,NaT,56,2007-02-27,2007,LITTLE ROCK,AR,AR,28000,28000,23800,1,1,6,1311,2,2,3,3_56,XX,XX,119300.0,-91300.0,100000.0,-72000.0,83678.0,-59878.0,0.0,0.0,0.0,0.0,6.0,-1.0,96200.0,-68200.0,80000.0,-52000.0,56250.0,-32450.0,0.0,0.0,0.0,0.0,4.0,1.0,98500.0,-70500.0,83000.0,-55000.0,57600.0,-33800.0,0.0,0.0,0.0,0.0,4.0,1.0
3,42310,120,4,1.0,0,1,0,Y,N,1999-04-30,62,1997-12-19,1998,LITTLE ROCK,AR,AR,7500,7500,6375,2,3,3,1311,2,2,2,2_62,XX,XX,100000.0,-92500.0,98500.0,-91000.0,64000.0,-57625.0,0.0,0.0,0.0,1.0,3.0,1.0,96200.0,-88700.0,80000.0,-72500.0,56250.0,-49875.0,0.0,0.0,0.0,1.0,4.0,0.0,98500.0,-91000.0,83000.0,-75500.0,57600.0,-51225.0,0.0,0.0,0.0,1.0,4.0,0.0
4,42311,63,13,1.0,0,8,1,N,N,2005-12-31,42,2009-07-10,2009,Louisville,KY,DE,91000,93000,93000,0,1,3,1374,17,8,4,4_42,XX,XX,111600.0,-20600.0,84500.0,8500.0,54900.0,38100.0,0.0,0.0,0.0,8.0,18.0,-5.0,96200.0,-5200.0,80000.0,13000.0,56250.0,36750.0,0.0,0.0,0.0,8.0,4.0,9.0,98500.0,-7500.0,83000.0,10000.0,57600.0,35400.0,0.0,0.0,0.0,8.0,4.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42303,84610,243,10,1.0,3,14,0,N,N,2012-12-01,42,2012-04-23,2012,FT. WRIGHT,KY,OH,390000,150000,127500,0,1,3,850,17,35,3,3_42,XX,XX,100000.0,290000.0,88320.0,61680.0,58320.0,69180.0,0.0,3.0,0.0,14.0,6.0,4.0,96200.0,293800.0,80000.0,70000.0,56250.0,71250.0,0.0,3.0,0.0,14.0,4.0,6.0,98500.0,291500.0,83000.0,67000.0,57600.0,69900.0,0.0,3.0,0.0,14.0,4.0,6.0
42304,84611,178,0,2.0,0,0,1,N,N,2003-11-30,0,2006-10-27,2007,PHILADELPHIA,PA,RI,100000,100000,90000,0,1,3,1848,38,40,1,1_0,PA_0,PHILADELPHIA_0,80000.0,20000.0,80000.0,20000.0,68000.0,22000.0,0.0,0.0,0.0,0.0,1.0,-1.0,75000.0,25000.0,80000.0,20000.0,64000.0,26000.0,0.0,0.0,0.0,0.0,4.0,-4.0,80000.0,20000.0,80000.0,20000.0,68000.0,22000.0,0.0,0.0,0.0,0.0,5.0,-5.0
42305,84612,42,1,2.0,3,9,0,Y,N,2009-02-28,33,1989-09-21,1989,ELMHURST,IL,IL,17000,17000,13600,0,3,3,712,14,14,1,1_33,IL_33,XX,50000.0,-33000.0,50000.0,-33000.0,25000.0,-11400.0,0.0,3.0,1.0,8.0,1.0,0.0,105000.0,-88000.0,98066.0,-81066.0,51000.0,-37400.0,0.0,3.0,1.0,8.0,6.0,-5.0,98500.0,-81500.0,83000.0,-66000.0,57600.0,-44000.0,0.0,3.0,0.0,9.0,4.0,-3.0
42306,84613,76,15,1.0,0,0,0,N,N,2008-01-31,0,2006-04-03,2006,NASHVILLE,TN,TN,7500,7500,6375,0,1,3,1599,42,43,4,4_0,TN_0,NASHVILLE_0,100000.0,-92500.0,100000.0,-92500.0,80000.0,-73625.0,0.0,0.0,0.0,0.0,19.0,-4.0,180000.0,-172500.0,180000.0,-172500.0,135000.0,-128625.0,0.0,0.0,0.0,0.0,5.0,10.0,275000.0,-267500.0,275000.0,-267500.0,206250.0,-199875.0,0.0,0.0,0.0,0.0,4.0,11.0
42307,84614,35,3,2.0,1,4,18150,Y,S,2006-12-31,44,2003-05-13,2003,EUGENE,OR,OR,50700,50700,25350,1,3,4,739,37,37,2,2_44,XX,XX,100000.0,-49300.0,100000.0,-49300.0,67500.0,-42150.0,0.0,1.0,0.0,4.0,3.0,0.0,96200.0,-45500.0,80000.0,-29300.0,56250.0,-30900.0,0.0,1.0,0.0,4.0,4.0,-1.0,98500.0,-47800.0,83000.0,-32300.0,57600.0,-32250.0,0.0,1.0,0.0,4.0,4.0,-1.0

In [25]:
def create_svd(col,train_df,test_df,feature):
    svd=TruncatedSVD(n_components=len(col)//5,random_state=1)
    tmp_train_df=train_df[col]
    tmp_test_df=test_df[col]
#     df=pd.concat([tmp_train_df,tmp_test_df])
    df=tmp_train_df.copy()
    ss=StandardScaler()
    df[col]=ss.fit_transform(df[col])
    tmp_train_df[col]=ss.transform(tmp_train_df[col])
    tmp_test_df[col]=ss.transform(tmp_test_df[col])
    svd.fit(df)
    col_name='svd'
    for c in col:
        c=f'{c}'
        col_name+=c
    tmp_train_df=svd.transform(tmp_train_df)
    tmp_test_df=svd.transform(tmp_test_df)

    tmp_train_df=pd.DataFrame(tmp_train_df)
    tmp_test_df=pd.DataFrame(tmp_test_df)
    tmp_train_df = tmp_train_df.add_prefix(f'svd_{feature}_')
    tmp_test_df = tmp_test_df.add_prefix(f'svd_{feature}_')
    train_df=pd.concat([train_df,tmp_train_df],axis=1)
    test_df=pd.concat([test_df,tmp_test_df],axis=1)
    return train_df,test_df
def create_nmf(col,train_df,test_df,feature):
    nmf=NMF(n_components=len(col)//5,random_state=1)
#     nmf=NMF(n_components=s,random_state=1)
    tmp_train_df=train_df[col]
    tmp_test_df=test_df[col]
#     df=pd.concat([tmp_train_df,tmp_test_df])
    df=tmp_train_df.copy()
    mm=MinMaxScaler(feature_range=(0, 100),clip=True)
    ss=StandardScaler()
    df[col]=ss.fit_transform(df[col])
    tmp_train_df[col]=ss.transform(tmp_train_df[col])
    tmp_test_df[col]=ss.transform(tmp_test_df[col])
    df[col]=mm.fit_transform(df[col])
    tmp_train_df[col]=mm.transform(tmp_train_df[col])
    tmp_test_df[col]=mm.transform(tmp_test_df[col])
    nmf.fit(df)
    col_name='nmf'
    for c in col:
        c=f'{c}'
        col_name+=c
    tmp_train_df=nmf.transform(tmp_train_df)
    tmp_test_df=nmf.transform(tmp_test_df)
    
    tmp_train_df=pd.DataFrame(tmp_train_df)
    tmp_test_df=pd.DataFrame(tmp_test_df)
    tmp_train_df = tmp_train_df.add_prefix(f'nmf_{feature}_')
    tmp_test_df = tmp_test_df.add_prefix(f'nmf_{feature}_')
    train_df=pd.concat([train_df,tmp_train_df],axis=1)
    test_df=pd.concat([test_df,tmp_test_df],axis=1)
    return train_df,test_df

In [26]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder(handle_unknown='infrequent_if_exist',min_frequency=100,max_categories=100,sparse_output=False)
train_df_city=enc.fit_transform(train_df[['City']])
test_df_city=enc.transform(test_df[['City']])
train_df_city=pd.DataFrame(train_df_city).add_prefix('City_col')
test_df_city=pd.DataFrame(test_df_city).add_prefix('City_col')
col_list=train_df_city.columns
train_df=pd.concat([train_df,train_df_city],axis=1)
test_df=pd.concat([test_df,test_df_city],axis=1)

train_df,test_df = create_svd(col_list,train_df,test_df,'City')
train_df,test_df = create_nmf(col_list,train_df,test_df,'City')
train_df.drop(col_list,axis=1,inplace=True)
test_df.drop(col_list,axis=1,inplace=True)

In [27]:
del c,dataFrame,eda_df,test_df_city,train_df_city
gc.collect()

79

In [28]:
train_df_12

,Unnamed: 0,Term,NoEmp,NewExist,CreateJob,RetainedJob,FranchiseCode,RevLineCr,LowDoc,DisbursementDate,MIS_Status,Sector,ApprovalDate,ApprovalFY,City,State,BankState,DisbursementGross,GrAppv,SBA_Appv,UrbanRural,RevLineCr_label,LowDoc_label,City_label,State_label,BankState_label,NoEmp_label,main_key_NoEmp_label,main_key_State,main_key_City,DisbursementGross_main_key_NoEmp_label_med,DisbursementGross_main_key_NoEmp_label_diff,GrAppv_main_key_NoEmp_label_med,GrAppv_main_key_NoEmp_label_diff,SBA_Appv_main_key_NoEmp_label_med,SBA_Appv_main_key_NoEmp_label_diff,CreateJob_main_key_NoEmp_label_med,CreateJob_main_key_NoEmp_label_diff,RetainedJob_main_key_NoEmp_label_med,RetainedJob_main_key_NoEmp_label_diff,NoEmp_main_key_NoEmp_label_med,NoEmp_main_key_NoEmp_label_diff,DisbursementGross_main_key_State_med,DisbursementGross_main_key_State_diff,GrAppv_main_key_State_med,GrAppv_main_key_State_diff,SBA_Appv_main_key_State_med,SBA_Appv_main_key_State_diff,CreateJob_main_key_State_med,CreateJob_main_key_State_diff,RetainedJob_main_key_State_med,RetainedJob_main_key_State_diff,NoEmp_main_key_State_med,NoEmp_main_key_State_diff,DisbursementGross_main_key_City_med,DisbursementGross_main_key_City_diff,GrAppv_main_key_City_med,GrAppv_main_key_City_diff,SBA_Appv_main_key_City_med,SBA_Appv_main_key_City_diff,CreateJob_main_key_City_med,CreateJob_main_key_City_diff,RetainedJob_main_key_City_med,RetainedJob_main_key_City_diff,NoEmp_main_key_City_med,NoEmp_main_key_City_diff
0,2,242,45,1.0,4,90,0,N,N,2001-08-31,1,42,2001-04-18,2001,HAWTHORNE,NJ,NJ,31983,30000,15000,1,1,3,634,31,31,4,4_42,NJ_42,XX,121000.0,-89017.0,100000.0,-70000.0,61000.0,-46000.0,1.0,3.0,1.0,89.0,18.0,27.0,76596.0,-44613.0,62340.0,-32340.0,36750.0,-21750.0,0.0,4.0,3.0,87.0,10.0,35.0,94203.0,-62220.0,80000.0,-50000.0,53864.5,-38864.5,0.0,4.0,1.0,89.0,3.0,42.0
1,9,25,1,1.0,0,0,1,N,N,2007-04-30,1,0,2004-03-23,2004,MESA,AZ,AZ,50000,50000,25000,2,1,3,928,3,3,1,1_0,XX,XX,80000.0,-30000.0,80000.0,-30000.0,61500.0,-36500.0,0.0,0.0,0.0,0.0,1.0,0.0,86787.0,-36787.0,75000.0,-25000.0,51000.0,-26000.0,0.0,0.0,1.0,-1.0,3.0,-2.0,94203.0,-44203.0,80000.0,-30000.0,53864.5,-28864.5,0.0,0.0,1.0,-1.0,3.0,-2.0
2,11,23,0,2.0,0,1,0,Y,N,2003-08-31,1,62,2001-10-10,2002,GREENSBURG,PA,RI,400000,600000,450000,1,3,3,604,38,39,1,1_62,XX,XX,100000.0,300000.0,100000.0,500000.0,71250.0,378750.0,0.0,0.0,0.0,1.0,2.0,-2.0,86787.0,313213.0,75000.0,525000.0,51000.0,399000.0,0.0,0.0,1.0,0.0,3.0,-3.0,94203.0,305797.0,80000.0,520000.0,53864.5,396135.5,0.0,0.0,1.0,0.0,3.0,-3.0
3,12,56,0,2.0,1,1,57300,Y,NaN,2006-01-31,0,61,2003-06-06,2003,NORTH SALT LAKE,UT,UT,100000,100000,50000,2,3,6,1075,44,44,1,1_61,XX,XX,80000.0,20000.0,75000.0,25000.0,60000.0,-10000.0,0.0,1.0,0.0,1.0,1.0,-1.0,86787.0,13213.0,75000.0,25000.0,51000.0,-1000.0,0.0,1.0,1.0,0.0,3.0,-3.0,94203.0,5797.0,80000.0,20000.0,53864.5,-3864.5,0.0,1.0,1.0,0.0,3.0,-3.0
4,13,237,2,1.0,0,12,0,N,N,1999-08-31,1,72,1996-09-06,1996,FOND DU LAC,WI,WI,323000,323000,323000,1,1,3,510,48,48,1,1_72,XX,XX,66000.0,257000.0,60000.0,263000.0,47050.0,275950.0,0.0,0.0,1.0,11.0,1.0,1.0,86787.0,236213.0,75000.0,248000.0,51000.0,272000.0,0.0,0.0,1.0,11.0,3.0,-1.0,94203.0,228797.0,80000.0,243000.0,53864.5,269135.5,0.0,0.0,1.0,11.0,3.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18265,42295,11,17,1.0,0,0,0,N,N,2008-05-31,1,42,2011-04-19,2011,ROOSEVELT,UT,UT,30500,30500,15250,1,1,3,1290,44,44,4,4_42,UT_42,XX,121000.0,-90500.0,100000.0,-69500.0,61000.0,-45750.0,1.0,-1.0,1.0,-1.0,18.0,-1.0,63927.0,-33427.0,56000.0,-25500.0,42150.0,-26900.0,0.0,0.0,1.0,-1.0,4.0,13.0,94203.0,-63703.0,80000.0,-49500.0,53864.5,-38614.5,0.0,0.0,1.0,-1.0,3.0,14.0
18266,42296,234,6,1.0,0,1,0,Y,N,1999-10-31,1,0,2007-05-10,2007,ESCONDIDO,CA,CA,28500,28500,14250,1,3,3,466,4,4,3,3_0,CA_0,ESCONDIDO_0,80000.0,-51500.0,75000.0,-46500.0,63000.0,-48750.0,0.0,0.0,0.0,1.0,6.0,0.0,90000.0,-61500.0,90000.0,-61500.0,76500.0,-62250.0,0.0,0.0,0.0,1.0,3.0,3.0,75000.0,-46500.0,75000.0,-46500.0,58500.0,-44250.0,0.0,0.0,0.0,1.0,4.0,2.0
18267,42299,10,2,1.0,0,1,0,Y,N,2008-06-30,0,72,2000-03-08,2000,CLARENCE,NY,NY,670000,670000,670000,1,3,3,279,34,34,1,1_72,NY_72,CLARENCE_72,66000.0,604000.0,60000.0,610000.0,47050.0,622950.0,0.0,0.0,1.0,0.0,1.0,1.0,100000.0,570000.0,98000.0,572000.0,55000.0,615000.0,0.0,0.0,1.0,0.0,4.0,-2.0,134000.0,536000.0,134000.0,536000.0,113900.0,556100.0,0.0,0.0,1.0,0.0,3.0,-1.0
18268,42301,82,0,1.0,18,1,1,Y,N,1996-12-10,1,23,2009-07-07,2009,PITTSBURGH,PA,PA,5000,5000,4250,1,3,3,1188,38,38,1,1_23,PA_23,PITTSBURGH_23,70000.0,-65000.0,70000.0,-65000.0,48000.0,-43750.0,0.0,18.0,1.0,0.0,1.0,-1.0,145000.0,-140000.0,145000.0,-140000.0,113900.0,-109650.0,0.0,18.0,2.0,-1.0,3.0,-3.0,60000.0,-55000.0,60000.0,-55000.0,50000.0,-45750.0,0.0,18.0,1.0,0.0,2.0,-2.0
18269,42303,53,2,1.0,0,0,0,Y,N,1991-04-03,1,42,2007-06-06,2007,LOS ANGELES,CA,SD,5000,5000,4250,1,3,3,841,4,41,1,1_42,CA_42,LOS ANGELES_42,67427.0,-62427.0,60000.0,-55000.0,50000.0,-45750.0,0.0,0.0,1.0,-1.0,1.0,1.0,60000.0,-55000.0,50000.0,-45000.0,37500.0,-33250.0,0.0,0.0,1.0,-1.0,3.0,-1.0,25000.0,-20000.0,25000.0,-20000.0,12500.0,-8250.0,3.0,-3.0,9.0,-9.0,2.0,0.0

# Create Model

In [29]:
train_df.columns

Index(['Unnamed: 0', 'Term', 'NoEmp', 'NewExist', 'CreateJob', 'RetainedJob',
       'FranchiseCode', 'RevLineCr', 'LowDoc', 'DisbursementDate',
       'MIS_Status', 'Sector', 'ApprovalDate', 'ApprovalFY', 'City', 'State',
       'BankState', 'DisbursementGross', 'GrAppv', 'SBA_Appv', 'UrbanRural',
       'RevLineCr_label', 'LowDoc_label', 'City_label', 'State_label',
       'BankState_label', 'NoEmp_label', 'main_key_NoEmp_label',
       'main_key_State', 'main_key_City',
       'DisbursementGross_main_key_NoEmp_label_med',
       'DisbursementGross_main_key_NoEmp_label_diff',
       'GrAppv_main_key_NoEmp_label_med', 'GrAppv_main_key_NoEmp_label_diff',
       'SBA_Appv_main_key_NoEmp_label_med',
       'SBA_Appv_main_key_NoEmp_label_diff',
       'CreateJob_main_key_NoEmp_label_med',
       'CreateJob_main_key_NoEmp_label_diff',
       'RetainedJob_main_key_NoEmp_label_med',
       'RetainedJob_main_key_NoEmp_label_diff',
       'NoEmp_main_key_NoEmp_label_med', 'NoEmp_main_key_NoEmp_label_diff',
       'DisbursementGross_main_key_State_med',
       'DisbursementGross_main_key_State_diff', 'GrAppv_main_key_State_med',
       'GrAppv_main_key_State_diff', 'SBA_Appv_main_key_State_med',
       'SBA_Appv_main_key_State_diff', 'CreateJob_main_key_State_med',
       'CreateJob_main_key_State_diff', 'RetainedJob_main_key_State_med',
       'RetainedJob_main_key_State_diff', 'NoEmp_main_key_State_med',
       'NoEmp_main_key_State_diff', 'DisbursementGross_main_key_City_med',
       'DisbursementGross_main_key_City_diff', 'GrAppv_main_key_City_med',
       'GrAppv_main_key_City_diff', 'SBA_Appv_main_key_City_med',
       'SBA_Appv_main_key_City_diff', 'CreateJob_main_key_City_med',
       'CreateJob_main_key_City_diff', 'RetainedJob_main_key_City_med',
       'RetainedJob_main_key_City_diff', 'NoEmp_main_key_City_med',
       'NoEmp_main_key_City_diff', 'svd_City_truncatedsvd0',
       'svd_City_truncatedsvd1', 'svd_City_truncatedsvd2',
       'svd_City_truncatedsvd3', 'svd_City_truncatedsvd4',
       'svd_City_truncatedsvd5', 'svd_City_truncatedsvd6',
       'svd_City_truncatedsvd7', 'svd_City_truncatedsvd8',
       'svd_City_truncatedsvd9', 'svd_City_truncatedsvd10',
       'svd_City_truncatedsvd11', 'svd_City_truncatedsvd12',
       'svd_City_truncatedsvd13', 'svd_City_truncatedsvd14',
       'svd_City_truncatedsvd15', 'svd_City_truncatedsvd16', 'nmf_City_nmf0',
       'nmf_City_nmf1', 'nmf_City_nmf2', 'nmf_City_nmf3', 'nmf_City_nmf4',
       'nmf_City_nmf5', 'nmf_City_nmf6', 'nmf_City_nmf7', 'nmf_City_nmf8',
       'nmf_City_nmf9', 'nmf_City_nmf10', 'nmf_City_nmf11', 'nmf_City_nmf12',
       'nmf_City_nmf13', 'nmf_City_nmf14', 'nmf_City_nmf15', 'nmf_City_nmf16'],
      dtype='object')

In [30]:
drop_list = list(train_df.select_dtypes("object").columns)
drop_list.extend(train_df.select_dtypes("datetime").columns)
drop_list

['RevLineCr',
 'LowDoc',
 'City',
 'State',
 'BankState',
 'main_key_NoEmp_label',
 'main_key_State',
 'main_key_City',
 'DisbursementDate',
 'ApprovalDate']

In [31]:
target_encode_list = ["State","BankState"]
for c in target_encode_list:
    drop_list.remove(c)

In [32]:
drop_list

['RevLineCr',
 'LowDoc',
 'City',
 'main_key_NoEmp_label',
 'main_key_State',
 'main_key_City',
 'DisbursementDate',
 'ApprovalDate']

In [33]:
drop_list_other = ["Unnamed: 0","State_label","BankState_label","MIS_Status"]
[drop_list.append(c) for c in drop_list_other]

[None, None, None, None]

In [34]:
drop_list

['RevLineCr',
 'LowDoc',
 'City',
 'main_key_NoEmp_label',
 'main_key_State',
 'main_key_City',
 'DisbursementDate',
 'ApprovalDate',
 'Unnamed: 0',
 'State_label',
 'BankState_label',
 'MIS_Status']

In [35]:
from sklearn.metrics import log_loss
##
def balanced_log_loss(y_true, y_pred):
    # y_true: correct labels 0, 1
    # y_pred: predicted probabilities of class=1
    # calculate the number of observations for each class
    N_0 = np.sum(1 - y_true)
    N_1 = np.sum(y_true)
    # calculate the weights for each class to balance classes
    w_0 = 1 / N_0
    w_1 = 1 / N_1
    # calculate the predicted probabilities for each class
    p_1 = np.clip(y_pred, 1e-15, 1 - 1e-15)
    p_0 = 1 - p_1
    # calculate the summed log loss for each class
    log_loss_0 = -np.sum((1 - y_true) * np.log(p_0))
    log_loss_1 = -np.sum(y_true * np.log(p_1))
    # calculate the weighted summed logarithmic loss
    # (factgor of 2 included to give same result as LL with balanced input)
    balanced_log_loss = 2*(w_0 * log_loss_0 + w_1 * log_loss_1) / (w_0 + w_1)
    # return the average log loss
    return balanced_log_loss/(N_0+N_1)
##
def objective(train_x,train_y,test_x,test_y,valid_index,train_df,trial):
        d_train=lgb.Dataset(train_x,label=train_y)
        d_valid=lgb.Dataset(test_x,label=test_y)
        param = {
        'objective': 'binary',#trial.suggest_categorical("objective",['binary', 'tweedie']),'num_class': 3
        'metric': 'binary_logloss',
        'learning_rate': 0.003,#trial.suggest_loguniform('learning_rate',0.006),
        'boosting':'gbdt',
#         'is_unbalance':True,
#         'scale_pos_weight':trial.suggest_loguniform('scale_pos_weight', 1,5),
        'lambda_l1': trial.suggest_loguniform('lambda_l1', 1e-8, 10.0),
        'lambda_l2': trial.suggest_loguniform('lambda_l2', 1e-8, 10.0),
        'num_leaves': trial.suggest_int('num_leaves', 2, 256),
#         'max_depth':trial.suggest_int('max_depth', 1, 10),
        'feature_fraction': trial.suggest_uniform('feature_fraction', 0.1, 1.0),
        'bagging_fraction': trial.suggest_uniform('bagging_fraction', 0.1, 1.0),
        'bagging_freq': trial.suggest_int('bagging_freq', 1, 7),
        'min_child_samples': trial.suggest_int('min_child_samples', 2, 100),
        'early_stopping_rounds':500,
        'seed':1,'verbose' : -1,'num_boost_round':100000,
        'tree_learner':trial.suggest_categorical("tree_learner",['serial', 'feature', 'data', 'voting']),
        # 'data_sample_strategy':trial.suggest_categorical("data_sample_strategy",['goss', 'bagging'])
    }
 
        gbm = lgb.train(param,d_train,valid_sets = [d_train, d_valid],callbacks=[lgb.early_stopping(stopping_rounds=500, verbose=True), lgb.log_evaluation(300)])
        preds = gbm.predict(test_x)
        
#         oof_predictions = np.zeros([len(train_df),2])
#         oof_predictions[valid_index]=preds
#         y_true=np.zeros([len(test_y),3])
#         y_true[:, 0]=np.where(test_y==0,1,0)
#         y_true[:, 1]=np.where(test_y==1,1,0)
#         y_true[:, 2]=np.where(test_y==2,1,0)
#         print(gbm.predict(test_x))
#         print(preds[:,0])
#         print(y_true[:,0])
#         print(preds.shape)
        score=log_loss(test_y,preds)
#         score=log_loss(test_y,preds)
        return score

In [36]:
target_encode_list = ["State","BankState"]

In [37]:
features=[c for c in train_df.columns if c not in drop_list]
# if CFG.model=='lgb':
import lightgbm as lgb
from iterstrat.ml_stratifiers import MultilabelStratifiedKFold
from sklearn.model_selection import KFold
importance_df=pd.DataFrame(index=train_df[features].columns)
importance_df['importance']=0
fold=5
predictions=pd.DataFrame()
predict=np.zeros([len(test_df),])
oof_predictions = np.zeros([len(train_df),])
# Target Encoding for state and bank state test data  
for c in target_encode_list:
    tmp_df = pd.DataFrame({c:train_df[c],f"target_{c}":train_df["MIS_Status"]}) 
    target_mean = tmp_df.groupby(c)[f"target_{c}"].mean()
    test_df.loc[:,c] = test_df[c].map(target_mean)
    test_df[c] = test_df[c].astype(float)
    
for seeds in[1]:
    fold=5
    skf=MultilabelStratifiedKFold(n_splits=5,random_state=seeds,shuffle=True)
    selected=features.copy()
        
    for i ,(tr_index,va_index) in enumerate(skf.split(train_df,train_df[['MIS_Status','Sector','State','UrbanRural']])):


        tr_x,tr_y=train_df[selected].iloc[tr_index],train_df['MIS_Status'].iloc[tr_index]
        va_x,va_y=train_df[selected].iloc[va_index],train_df['MIS_Status'].iloc[va_index]

        # Target Encoding for state and bank state 
        for c in target_encode_list:
            tmp_df = pd.DataFrame({c:tr_x[c],f"target_{c}":tr_y}) 
            target_mean = tmp_df.groupby(c)[f"target_{c}"].mean()
            va_x.loc[:,c] = va_x[c].map(target_mean)

            tmp = np.repeat(np.nan, tr_x.shape[0])
            kf_encoding = KFold(n_splits=4, shuffle =True,random_state=seeds)

            for idx_1,idx_2 in kf_encoding.split(tr_x):
                target_mean = tmp_df.iloc[idx_1].groupby(c)[f"target_{c}"].mean()
                tmp[idx_2] = tr_x[c].iloc[idx_2].map(target_mean)
            tr_x.loc[:,c]=tmp

            tr_x[c] = tr_x[c].astype(float)
            va_x[c] = va_x[c].astype(float)
        d_train_df=lgb.Dataset(tr_x,label=tr_y)

        d_valid=lgb.Dataset(va_x,label=va_y)
        if CFG.train==False:
            param = {'objective': 'binary','metric': 'binary_logloss','learning_rate': 0.003,'boosting':'gbdt','scale_pos_weight': 1, 'lambda_l1': 1.8657458525452022, 'lambda_l2': 0.0043319561423214945, 'num_leaves': 20, 'feature_fraction': 0.23875565259514844, 'bagging_fraction': 0.7939326324321189, 'bagging_freq': 2, 'min_child_samples': 73, 'tree_learner': 'feature','early_stopping_rounds':500,
             'seed':seeds,'random_state':seeds,'data_random_seed':seeds,'feature_fraction_seed':seeds,'random_seed':seeds,'verbose' : -1,'num_boost_round':100000}

            gbm = lgb.train(param, d_train_df,valid_sets = [d_train_df, d_valid],callbacks=[lgb.early_stopping(stopping_rounds=500, verbose=True), lgb.log_evaluation(100)])
            preds=gbm.predict(va_x[selected])
            predict += gbm.predict(test_df[selected])/5
            oof_predictions[va_index]=preds
            importance_df['importance']+=gbm.feature_importance(importance_type='gain')/5
        else:
            if i==0:
                print(CFG.train)
                optuna.logging.set_verbosity(optuna.logging.INFO)
                study = optuna.create_study(direction='minimize')
                study.optimize(functools.partial(objective,tr_x,tr_y,va_x,va_y,va_index,train_df),timeout=60*60*3)#n_trials = 1000)
                print('Number of finished trials:', len(study.trials))
                print('Best trial:', study.best_trial.params)

C:\Users\kaminogo.kenji\AppData\Local\miniconda3\envs\venv_tabledata_001\lib\site-packages\lightgbm\engine.py:172: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

Training until validation scores don't improve for 500 rounds
[100]	training's binary_logloss: 0.319425	valid_1's binary_logloss: 0.321255
[200]	training's binary_logloss: 0.306678	valid_1's binary_logloss: 0.309492
[300]	training's binary_logloss: 0.297974	valid_1's binary_logloss: 0.30159
[400]	training's binary_logloss: 0.291843	valid_1's binary_logloss: 0.296283
[500]	training's binary_logloss: 0.287193	valid_1's binary_logloss: 0.292422
[600]	training's binary_logloss: 0.2837	valid_1's binary_logloss: 0.289664
[700]	training's binary_logloss: 0.280799	valid_1's binary_logloss: 0.287479
[800]	training's binary_logloss: 0.278301	valid_1's binary_logloss: 0.285677
[900]	training's binary_logloss: 0.276123	valid_1's binary_logloss: 0.284214
[1000]	training's binary_logloss: 0.274334	valid_1's binary_logloss: 0.283112
[1100]	training's binary_logloss: 0.272676	valid_1's binary_logloss: 0.282225
[1200]	training's binary_logloss: 0.271187	valid_1's binary_logloss: 0.281505
[1300]	training's binary_logloss: 0.269835	valid_1's binary_logloss: 0.280908
[1400]	training's binary_logloss: 0.268615	valid_1's binary_logloss: 0.28048
[1500]	training's binary_logloss: 0.267436	valid_1's binary_logloss: 0.280117
[1600]	training's binary_logloss: 0.266329	valid_1's binary_logloss: 0.279778
[1700]	training's binary_logloss: 0.265296	valid_1's binary_logloss: 0.279537
[1800]	training's binary_logloss: 0.26431	valid_1's binary_logloss: 0.279317
[1900]	training's binary_logloss: 0.263349	valid_1's binary_logloss: 0.279101
[2000]	training's binary_logloss: 0.262418	valid_1's binary_logloss: 0.278929
[2100]	training's binary_logloss: 0.261515	valid_1's binary_logloss: 0.278788
[2200]	training's binary_logloss: 0.260646	valid_1's binary_logloss: 0.278687
[2300]	training's binary_logloss: 0.259803	valid_1's binary_logloss: 0.278602
[2400]	training's binary_logloss: 0.258994	valid_1's binary_logloss: 0.278512
[2500]	training's binary_logloss: 0.258183	valid_1's binary_logloss: 0.278419
[2600]	training's binary_logloss: 0.257402	valid_1's binary_logloss: 0.278365
[2700]	training's binary_logloss: 0.256646	valid_1's binary_logloss: 0.278314
[2800]	training's binary_logloss: 0.2559	valid_1's binary_logloss: 0.278257
[2900]	training's binary_logloss: 0.255132	valid_1's binary_logloss: 0.278192
[3000]	training's binary_logloss: 0.254394	valid_1's binary_logloss: 0.278154
[3100]	training's binary_logloss: 0.253677	valid_1's binary_logloss: 0.278125
[3200]	training's binary_logloss: 0.252973	valid_1's binary_logloss: 0.278133
[3300]	training's binary_logloss: 0.252287	valid_1's binary_logloss: 0.278109
[3400]	training's binary_logloss: 0.251584	valid_1's binary_logloss: 0.278101
[3500]	training's binary_logloss: 0.250902	valid_1's binary_logloss: 0.278108
[3600]	training's binary_logloss: 0.25023	valid_1's binary_logloss: 0.278145
[3700]	training's binary_logloss: 0.249581	valid_1's binary_logloss: 0.278141
[3800]	training's binary_logloss: 0.248919	valid_1's binary_logloss: 0.278128
[3900]	training's binary_logloss: 0.248274	valid_1's binary_logloss: 0.278118

C:\Users\kaminogo.kenji\AppData\Local\miniconda3\envs\venv_tabledata_001\lib\site-packages\lightgbm\engine.py:172: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

Training until validation scores don't improve for 500 rounds
[100]	training's binary_logloss: 0.31981	valid_1's binary_logloss: 0.319302
[200]	training's binary_logloss: 0.307203	valid_1's binary_logloss: 0.306857
[300]	training's binary_logloss: 0.298617	valid_1's binary_logloss: 0.298661
[400]	training's binary_logloss: 0.292511	valid_1's binary_logloss: 0.292989
[500]	training's binary_logloss: 0.287941	valid_1's binary_logloss: 0.2889
[600]	training's binary_logloss: 0.284467	valid_1's binary_logloss: 0.286031
[700]	training's binary_logloss: 0.281616	valid_1's binary_logloss: 0.283834
[800]	training's binary_logloss: 0.279116	valid_1's binary_logloss: 0.281917
[900]	training's binary_logloss: 0.276893	valid_1's binary_logloss: 0.280332
[1000]	training's binary_logloss: 0.275087	valid_1's binary_logloss: 0.27926
[1100]	training's binary_logloss: 0.273434	valid_1's binary_logloss: 0.278348
[1200]	training's binary_logloss: 0.271935	valid_1's binary_logloss: 0.277574
[1300]	training's binary_logloss: 0.270587	valid_1's binary_logloss: 0.277035
[1400]	training's binary_logloss: 0.269358	valid_1's binary_logloss: 0.276585
[1500]	training's binary_logloss: 0.268179	valid_1's binary_logloss: 0.276211
[1600]	training's binary_logloss: 0.267096	valid_1's binary_logloss: 0.275861
[1700]	training's binary_logloss: 0.266041	valid_1's binary_logloss: 0.275606
[1800]	training's binary_logloss: 0.265065	valid_1's binary_logloss: 0.275405
[1900]	training's binary_logloss: 0.26409	valid_1's binary_logloss: 0.275199
[2000]	training's binary_logloss: 0.263154	valid_1's binary_logloss: 0.275053
[2100]	training's binary_logloss: 0.262242	valid_1's binary_logloss: 0.274953
[2200]	training's binary_logloss: 0.26137	valid_1's binary_logloss: 0.274869
[2300]	training's binary_logloss: 0.260527	valid_1's binary_logloss: 0.274829
[2400]	training's binary_logloss: 0.259706	valid_1's binary_logloss: 0.274787
[2500]	training's binary_logloss: 0.258877	valid_1's binary_logloss: 0.274782
[2600]	training's binary_logloss: 0.258051	valid_1's binary_logloss: 0.274704
[2700]	training's binary_logloss: 0.257269	valid_1's binary_logloss: 0.274699
[2800]	training's binary_logloss: 0.256507	valid_1's binary_logloss: 0.274663
[2900]	training's binary_logloss: 0.255719	valid_1's binary_logloss: 0.274611
[3000]	training's binary_logloss: 0.254965	valid_1's binary_logloss: 0.2746
[3100]	training's binary_logloss: 0.254249	valid_1's binary_logloss: 0.274592
[3200]	training's binary_logloss: 0.253536	valid_1's binary_logloss: 0.274623
[3300]	training's binary_logloss: 0.25282	valid_1's binary_logloss: 0.274633
[3400]	training's binary_logloss: 0.252113	valid_1's binary_logloss: 0.274644
[3500]	training's binary_logloss: 0.25143	valid_1's binary_logloss: 0.274626
Early stopping, best iteration is:
[3066]	training's binary_logloss: 0.254487	valid_1's binary_logloss: 0.274583

C:\Users\kaminogo.kenji\AppData\Local\miniconda3\envs\venv_tabledata_001\lib\site-packages\lightgbm\engine.py:172: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

Training until validation scores don't improve for 500 rounds
[100]	training's binary_logloss: 0.318915	valid_1's binary_logloss: 0.32134
[200]	training's binary_logloss: 0.305884	valid_1's binary_logloss: 0.310275
[300]	training's binary_logloss: 0.296902	valid_1's binary_logloss: 0.303017
[400]	training's binary_logloss: 0.290544	valid_1's binary_logloss: 0.298166
[500]	training's binary_logloss: 0.285778	valid_1's binary_logloss: 0.294732
[600]	training's binary_logloss: 0.28221	valid_1's binary_logloss: 0.292416
[700]	training's binary_logloss: 0.279296	valid_1's binary_logloss: 0.290725
[800]	training's binary_logloss: 0.276721	valid_1's binary_logloss: 0.289339
[900]	training's binary_logloss: 0.274484	valid_1's binary_logloss: 0.288274
[1000]	training's binary_logloss: 0.272628	valid_1's binary_logloss: 0.287541
[1100]	training's binary_logloss: 0.27093	valid_1's binary_logloss: 0.286927
[1200]	training's binary_logloss: 0.269417	valid_1's binary_logloss: 0.28645
[1300]	training's binary_logloss: 0.268054	valid_1's binary_logloss: 0.286085
[1400]	training's binary_logloss: 0.266808	valid_1's binary_logloss: 0.285847
[1500]	training's binary_logloss: 0.265625	valid_1's binary_logloss: 0.28563
[1600]	training's binary_logloss: 0.264509	valid_1's binary_logloss: 0.285463
[1700]	training's binary_logloss: 0.263454	valid_1's binary_logloss: 0.285303
[1800]	training's binary_logloss: 0.262477	valid_1's binary_logloss: 0.285221
[1900]	training's binary_logloss: 0.26149	valid_1's binary_logloss: 0.285108
[2000]	training's binary_logloss: 0.260545	valid_1's binary_logloss: 0.285017
[2100]	training's binary_logloss: 0.259642	valid_1's binary_logloss: 0.284967
[2200]	training's binary_logloss: 0.25877	valid_1's binary_logloss: 0.28491
[2300]	training's binary_logloss: 0.257941	valid_1's binary_logloss: 0.284885
[2400]	training's binary_logloss: 0.257111	valid_1's binary_logloss: 0.28488
[2500]	training's binary_logloss: 0.256281	valid_1's binary_logloss: 0.284875
[2600]	training's binary_logloss: 0.255462	valid_1's binary_logloss: 0.284849
[2700]	training's binary_logloss: 0.254694	valid_1's binary_logloss: 0.284836
[2800]	training's binary_logloss: 0.253944	valid_1's binary_logloss: 0.284867
[2900]	training's binary_logloss: 0.2532	valid_1's binary_logloss: 0.284911
[3000]	training's binary_logloss: 0.25246	valid_1's binary_logloss: 0.284941
[3100]	training's binary_logloss: 0.251735	valid_1's binary_logloss: 0.284937
Early stopping, best iteration is:
[2630]	training's binary_logloss: 0.255232	valid_1's binary_logloss: 0.284829

C:\Users\kaminogo.kenji\AppData\Local\miniconda3\envs\venv_tabledata_001\lib\site-packages\lightgbm\engine.py:172: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

Training until validation scores don't improve for 500 rounds
[100]	training's binary_logloss: 0.319315	valid_1's binary_logloss: 0.32091
[200]	training's binary_logloss: 0.306436	valid_1's binary_logloss: 0.3092
[300]	training's binary_logloss: 0.297654	valid_1's binary_logloss: 0.301463
[400]	training's binary_logloss: 0.291488	valid_1's binary_logloss: 0.296141
[500]	training's binary_logloss: 0.286863	valid_1's binary_logloss: 0.292385
[600]	training's binary_logloss: 0.28338	valid_1's binary_logloss: 0.289727
[700]	training's binary_logloss: 0.280483	valid_1's binary_logloss: 0.287608
[800]	training's binary_logloss: 0.277949	valid_1's binary_logloss: 0.285936
[900]	training's binary_logloss: 0.275753	valid_1's binary_logloss: 0.284594
[1000]	training's binary_logloss: 0.273951	valid_1's binary_logloss: 0.283647
[1100]	training's binary_logloss: 0.272308	valid_1's binary_logloss: 0.282787
[1200]	training's binary_logloss: 0.270822	valid_1's binary_logloss: 0.282138
[1300]	training's binary_logloss: 0.269466	valid_1's binary_logloss: 0.281603
[1400]	training's binary_logloss: 0.268189	valid_1's binary_logloss: 0.281196
[1500]	training's binary_logloss: 0.267031	valid_1's binary_logloss: 0.280805
[1600]	training's binary_logloss: 0.265924	valid_1's binary_logloss: 0.280518
[1700]	training's binary_logloss: 0.264879	valid_1's binary_logloss: 0.280266
[1800]	training's binary_logloss: 0.263888	valid_1's binary_logloss: 0.280048
[1900]	training's binary_logloss: 0.262917	valid_1's binary_logloss: 0.279839
[2000]	training's binary_logloss: 0.261956	valid_1's binary_logloss: 0.279654
[2100]	training's binary_logloss: 0.261061	valid_1's binary_logloss: 0.279481
[2200]	training's binary_logloss: 0.260184	valid_1's binary_logloss: 0.279366
[2300]	training's binary_logloss: 0.259347	valid_1's binary_logloss: 0.279231
[2400]	training's binary_logloss: 0.258527	valid_1's binary_logloss: 0.279119
[2500]	training's binary_logloss: 0.257697	valid_1's binary_logloss: 0.279033
[2600]	training's binary_logloss: 0.256903	valid_1's binary_logloss: 0.278969
[2700]	training's binary_logloss: 0.256116	valid_1's binary_logloss: 0.27896
[2800]	training's binary_logloss: 0.255352	valid_1's binary_logloss: 0.278911
[2900]	training's binary_logloss: 0.254598	valid_1's binary_logloss: 0.278866
[3000]	training's binary_logloss: 0.253868	valid_1's binary_logloss: 0.278833
[3100]	training's binary_logloss: 0.253148	valid_1's binary_logloss: 0.278807
[3200]	training's binary_logloss: 0.252434	valid_1's binary_logloss: 0.278786
[3300]	training's binary_logloss: 0.251718	valid_1's binary_logloss: 0.278748
[3400]	training's binary_logloss: 0.25102	valid_1's binary_logloss: 0.278746
[3500]	training's binary_logloss: 0.250344	valid_1's binary_logloss: 0.278727
[3600]	training's binary_logloss: 0.249656	valid_1's binary_logloss: 0.278707
[3700]	training's binary_logloss: 0.248983	valid_1's binary_logloss: 0.278668
[3800]	training's binary_logloss: 0.248314	valid_1's binary_logloss: 0.278688
[3900]	training's binary_logloss: 0.247654	valid_1's binary_logloss: 0.278693
[4000]	training's binary_logloss: 0.246995	valid_1's binary_logloss: 0.27871
[4100]	training's binary_logloss: 0.246364	valid_1's binary_logloss: 0.278739
[4200]	training's binary_logloss: 0.245729	valid_1's binary_logloss: 0.278725

C:\Users\kaminogo.kenji\AppData\Local\miniconda3\envs\venv_tabledata_001\lib\site-packages\lightgbm\engine.py:172: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

Training until validation scores don't improve for 500 rounds
[100]	training's binary_logloss: 0.31957	valid_1's binary_logloss: 0.320303
[200]	training's binary_logloss: 0.3069	valid_1's binary_logloss: 0.308056
[300]	training's binary_logloss: 0.298255	valid_1's binary_logloss: 0.299834
[400]	training's binary_logloss: 0.292119	valid_1's binary_logloss: 0.29413
[500]	training's binary_logloss: 0.28752	valid_1's binary_logloss: 0.290144
[600]	training's binary_logloss: 0.28405	valid_1's binary_logloss: 0.287279
[700]	training's binary_logloss: 0.281206	valid_1's binary_logloss: 0.285045
[800]	training's binary_logloss: 0.278665	valid_1's binary_logloss: 0.283192
[900]	training's binary_logloss: 0.276456	valid_1's binary_logloss: 0.281682
[1000]	training's binary_logloss: 0.274649	valid_1's binary_logloss: 0.280599
[1100]	training's binary_logloss: 0.272987	valid_1's binary_logloss: 0.279708
[1200]	training's binary_logloss: 0.27148	valid_1's binary_logloss: 0.27896
[1300]	training's binary_logloss: 0.270132	valid_1's binary_logloss: 0.278395
[1400]	training's binary_logloss: 0.268883	valid_1's binary_logloss: 0.277968
[1500]	training's binary_logloss: 0.26771	valid_1's binary_logloss: 0.277575
[1600]	training's binary_logloss: 0.266607	valid_1's binary_logloss: 0.277245
[1700]	training's binary_logloss: 0.26554	valid_1's binary_logloss: 0.276966
[1800]	training's binary_logloss: 0.264551	valid_1's binary_logloss: 0.276786
[1900]	training's binary_logloss: 0.263559	valid_1's binary_logloss: 0.276604
[2000]	training's binary_logloss: 0.262634	valid_1's binary_logloss: 0.276468
[2100]	training's binary_logloss: 0.261707	valid_1's binary_logloss: 0.276352
[2200]	training's binary_logloss: 0.260808	valid_1's binary_logloss: 0.276228
[2300]	training's binary_logloss: 0.25996	valid_1's binary_logloss: 0.276164
[2400]	training's binary_logloss: 0.259128	valid_1's binary_logloss: 0.276088
[2500]	training's binary_logloss: 0.258309	valid_1's binary_logloss: 0.276042
[2600]	training's binary_logloss: 0.257506	valid_1's binary_logloss: 0.275997
[2700]	training's binary_logloss: 0.256717	valid_1's binary_logloss: 0.275977
[2800]	training's binary_logloss: 0.255964	valid_1's binary_logloss: 0.27597
[2900]	training's binary_logloss: 0.255216	valid_1's binary_logloss: 0.275972
[3000]	training's binary_logloss: 0.254464	valid_1's binary_logloss: 0.276013
[3100]	training's binary_logloss: 0.253722	valid_1's binary_logloss: 0.275973
[3200]	training's binary_logloss: 0.253002	valid_1's binary_logloss: 0.275988
[3300]	training's binary_logloss: 0.252272	valid_1's binary_logloss: 0.276023
Early stopping, best iteration is:
[2814]	training's binary_logloss: 0.25586	valid_1's binary_logloss: 0.275963

In [38]:
importance_df.sort_values('importance',ascending=False).to_csv(f'importance_baseline_{CFG.ver}.csv')

In [39]:
importance_df

                                               importance
Term                                         34240.242577
NoEmp                                        28551.699413
NewExist                                     11412.940266
CreateJob                                    19658.823704
RetainedJob                                  14831.076687
FranchiseCode                                 9981.699911
Sector                                        7973.241156
ApprovalFY                                   12754.764381
State                                        17657.678100
BankState                                    23477.822279
DisbursementGross                            10270.959242
GrAppv                                        9402.958074
SBA_Appv                                     13755.926546
UrbanRural                                   77379.851102
RevLineCr_label                              76271.893135
LowDoc_label                                 66989.705984
City_label                                    8447.096121
NoEmp_label                                  17966.715332
DisbursementGross_main_key_NoEmp_label_med   11617.779311
DisbursementGross_main_key_NoEmp_label_diff   8226.665469
GrAppv_main_key_NoEmp_label_med               9381.504470
GrAppv_main_key_NoEmp_label_diff              6808.519560
SBA_Appv_main_key_NoEmp_label_med            11144.218235
SBA_Appv_main_key_NoEmp_label_diff            8458.779380
CreateJob_main_key_NoEmp_label_med            4303.612100
CreateJob_main_key_NoEmp_label_diff          11370.036985
RetainedJob_main_key_NoEmp_label_med          6786.905049
RetainedJob_main_key_NoEmp_label_diff        10052.542747
NoEmp_main_key_NoEmp_label_med               19021.608599
NoEmp_main_key_NoEmp_label_diff               4410.439106
DisbursementGross_main_key_State_med          3684.297888
DisbursementGross_main_key_State_diff         6964.235066
GrAppv_main_key_State_med                     2917.515842
GrAppv_main_key_State_diff                    5511.400840
SBA_Appv_main_key_State_med                   4226.414746
SBA_Appv_main_key_State_diff                  9226.133237
CreateJob_main_key_State_med                   111.881130
CreateJob_main_key_State_diff                 9200.770805
RetainedJob_main_key_State_med                 574.412607
RetainedJob_main_key_State_diff              10079.420839
NoEmp_main_key_State_med                      1288.722133
NoEmp_main_key_State_diff                    14262.704472
DisbursementGross_main_key_City_med           1888.414182
DisbursementGross_main_key_City_diff          7048.904524
GrAppv_main_key_City_med                      2162.335496
GrAppv_main_key_City_diff                     7235.071902
SBA_Appv_main_key_City_med                    3000.507490
SBA_Appv_main_key_City_diff                   8537.909991
CreateJob_main_key_City_med                    334.201651
CreateJob_main_key_City_diff                 15778.755522
RetainedJob_main_key_City_med                  410.948301
RetainedJob_main_key_City_diff               11253.299025
NoEmp_main_key_City_med                        561.215722
NoEmp_main_key_City_diff                     14435.941185
svd_City_truncatedsvd0                        8818.802805
svd_City_truncatedsvd1                        6159.867071
svd_City_truncatedsvd2                        5244.098460
svd_City_truncatedsvd3                        5245.268426
svd_City_truncatedsvd4                        4704.752948
svd_City_truncatedsvd5                        5779.890056
svd_City_truncatedsvd6                        6329.810199
svd_City_truncatedsvd7                        6018.248434
svd_City_truncatedsvd8                        4622.247093
svd_City_truncatedsvd9                        4959.776608
svd_City_truncatedsvd10                       4745.899473
svd_City_truncatedsvd11                       4398.779871
svd_City_truncatedsvd12                       4821.100494
svd_City_truncatedsvd13                       5212.861897
svd_City_truncatedsvd14                       3756.612898
svd_City_truncatedsvd15                       4974.769861
svd_City_truncatedsvd16                      10542.579500
nmf_City_nmf0                                  590.964454
nmf_City_nmf1                                   13.657578
nmf_City_nmf2                                 1221.855674
nmf_City_nmf3                                  103.524070
nmf_City_nmf4                                   33.768388
nmf_City_nmf5                                   73.946032
nmf_City_nmf6                                    9.522992
nmf_City_nmf7                                 1214.141681
nmf_City_nmf8                                   19.876832
nmf_City_nmf9                                   29.927764
nmf_City_nmf10                                  81.361674
nmf_City_nmf11                                  10.579932
nmf_City_nmf12                                 257.692034
nmf_City_nmf13                                  16.923734
nmf_City_nmf14                                2521.225347
nmf_City_nmf15                                 526.514783
nmf_City_nmf16                                2033.115789

In [40]:
features=[c for c in train_df_0.columns if c not in drop_list]
# if CFG.model=='lgb':
import lightgbm as lgb
from iterstrat.ml_stratifiers import MultilabelStratifiedKFold
from sklearn.model_selection import KFold
importance_df_0=pd.DataFrame(index=train_df_0[features].columns)
importance_df_0['importance']=0
fold=5
predictions_0=pd.DataFrame()
predict_0=np.zeros([len(test_df_0),])
oof_predictions_0 = np.zeros([len(train_df_0),])
# Target Encoding for state and bank state test data  
for c in target_encode_list:
    tmp_df = pd.DataFrame({c:train_df_0[c],f"target_{c}":train_df_0["MIS_Status"]}) 
    target_mean = tmp_df.groupby(c)[f"target_{c}"].mean()
    test_df_0.loc[:,c] = test_df_0[c].map(target_mean)
    test_df_0[c] = test_df_0[c].astype(float)
    
for seeds in[1]:
    fold=5
    skf=MultilabelStratifiedKFold(n_splits=5,random_state=seeds,shuffle=True)
    selected=features.copy()
        
    for i ,(tr_index,va_index) in enumerate(skf.split(train_df_0,train_df_0[['MIS_Status','Sector','State','UrbanRural']])):


        tr_x,tr_y=train_df_0[selected].iloc[tr_index],train_df_0['MIS_Status'].iloc[tr_index]
        va_x,va_y=train_df_0[selected].iloc[va_index],train_df_0['MIS_Status'].iloc[va_index]

        # Target Encoding for state and bank state 
        for c in target_encode_list:
            tmp_df = pd.DataFrame({c:tr_x[c],f"target_{c}":tr_y}) 
            target_mean = tmp_df.groupby(c)[f"target_{c}"].mean()
            va_x.loc[:,c] = va_x[c].map(target_mean)

            tmp = np.repeat(np.nan, tr_x.shape[0])
            kf_encoding = KFold(n_splits=4, shuffle =True,random_state=seeds)

            for idx_1,idx_2 in kf_encoding.split(tr_x):
                target_mean = tmp_df.iloc[idx_1].groupby(c)[f"target_{c}"].mean()
                tmp[idx_2] = tr_x[c].iloc[idx_2].map(target_mean)
            tr_x.loc[:,c]=tmp

            tr_x[c] = tr_x[c].astype(float)
            va_x[c] = va_x[c].astype(float)
        d_train_df_0=lgb.Dataset(tr_x,label=tr_y)

        d_valid=lgb.Dataset(va_x,label=va_y)
        if CFG.train==False:
            param = {'objective': 'binary','metric': 'binary_logloss','learning_rate': 0.003,'boosting':'gbdt','scale_pos_weight': 1, 'lambda_l1': 1.8657458525452022, 'lambda_l2': 0.0043319561423214945, 'num_leaves': 20, 'feature_fraction': 0.23875565259514844, 'bagging_fraction': 0.7939326324321189, 'bagging_freq': 2, 'min_child_samples': 73, 'tree_learner': 'feature','early_stopping_rounds':500,
             'seed':seeds,'random_state':seeds,'data_random_seed':seeds,'feature_fraction_seed':seeds,'random_seed':seeds,'verbose' : -1,'num_boost_round':100000}

            gbm = lgb.train(param, d_train_df_0,valid_sets = [d_train_df_0, d_valid],callbacks=[lgb.early_stopping(stopping_rounds=500, verbose=True), lgb.log_evaluation(100)])
            preds=gbm.predict(va_x[selected])
            predict_0 += gbm.predict(test_df_0[selected])/5
            oof_predictions_0[va_index]=preds
            importance_df_0['importance']+=gbm.feature_importance(importance_type='gain')/5
        else:
            if i==0:
                print(CFG.train)
                optuna.logging.set_verbosity(optuna.logging.INFO)
                study = optuna.create_study(direction='minimize')
                study.optimize(functools.partial(objective,tr_x,tr_y,va_x,va_y,va_index,train_df_0),timeout=60*60*3)#n_trials = 1000)
                print('Number of finished trials:', len(study.trials))
                print('Best trial:', study.best_trial.params)

C:\Users\kaminogo.kenji\AppData\Local\miniconda3\envs\venv_tabledata_001\lib\site-packages\lightgbm\engine.py:172: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

Training until validation scores don't improve for 500 rounds
[100]	training's binary_logloss: 0.20659	valid_1's binary_logloss: 0.209049
[200]	training's binary_logloss: 0.202688	valid_1's binary_logloss: 0.207212
[300]	training's binary_logloss: 0.19957	valid_1's binary_logloss: 0.205823
[400]	training's binary_logloss: 0.197078	valid_1's binary_logloss: 0.20502
[500]	training's binary_logloss: 0.194873	valid_1's binary_logloss: 0.204384
[600]	training's binary_logloss: 0.192902	valid_1's binary_logloss: 0.203848
[700]	training's binary_logloss: 0.191071	valid_1's binary_logloss: 0.20345
[800]	training's binary_logloss: 0.189405	valid_1's binary_logloss: 0.203095
[900]	training's binary_logloss: 0.18784	valid_1's binary_logloss: 0.202852
[1000]	training's binary_logloss: 0.186341	valid_1's binary_logloss: 0.202658
[1100]	training's binary_logloss: 0.184934	valid_1's binary_logloss: 0.202498
[1200]	training's binary_logloss: 0.183585	valid_1's binary_logloss: 0.202438
[1300]	training's binary_logloss: 0.182279	valid_1's binary_logloss: 0.2024
[1400]	training's binary_logloss: 0.180991	valid_1's binary_logloss: 0.202369
[1500]	training's binary_logloss: 0.179773	valid_1's binary_logloss: 0.202304
[1600]	training's binary_logloss: 0.178596	valid_1's binary_logloss: 0.202297
[1700]	training's binary_logloss: 0.177437	valid_1's binary_logloss: 0.202357
[1800]	training's binary_logloss: 0.176315	valid_1's binary_logloss: 0.202387
[1900]	training's binary_logloss: 0.175221	valid_1's binary_logloss: 0.202412
[2000]	training's binary_logloss: 0.174165	valid_1's binary_logloss: 0.202441

C:\Users\kaminogo.kenji\AppData\Local\miniconda3\envs\venv_tabledata_001\lib\site-packages\lightgbm\engine.py:172: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

Training until validation scores don't improve for 500 rounds
[100]	training's binary_logloss: 0.206902	valid_1's binary_logloss: 0.208189
[200]	training's binary_logloss: 0.203072	valid_1's binary_logloss: 0.205606
[300]	training's binary_logloss: 0.200061	valid_1's binary_logloss: 0.203715
[400]	training's binary_logloss: 0.197644	valid_1's binary_logloss: 0.202324
[500]	training's binary_logloss: 0.195516	valid_1's binary_logloss: 0.201323
[600]	training's binary_logloss: 0.193606	valid_1's binary_logloss: 0.200566
[700]	training's binary_logloss: 0.191773	valid_1's binary_logloss: 0.1999
[800]	training's binary_logloss: 0.19008	valid_1's binary_logloss: 0.199416
[900]	training's binary_logloss: 0.188521	valid_1's binary_logloss: 0.199013
[1000]	training's binary_logloss: 0.18706	valid_1's binary_logloss: 0.198756
[1100]	training's binary_logloss: 0.185673	valid_1's binary_logloss: 0.198406
[1200]	training's binary_logloss: 0.184335	valid_1's binary_logloss: 0.198181
[1300]	training's binary_logloss: 0.183059	valid_1's binary_logloss: 0.198036
[1400]	training's binary_logloss: 0.181845	valid_1's binary_logloss: 0.197904
[1500]	training's binary_logloss: 0.18067	valid_1's binary_logloss: 0.197848
[1600]	training's binary_logloss: 0.179534	valid_1's binary_logloss: 0.197752
[1700]	training's binary_logloss: 0.178443	valid_1's binary_logloss: 0.197741
[1800]	training's binary_logloss: 0.177312	valid_1's binary_logloss: 0.19765
[1900]	training's binary_logloss: 0.17624	valid_1's binary_logloss: 0.197605
[2000]	training's binary_logloss: 0.175215	valid_1's binary_logloss: 0.197624
[2100]	training's binary_logloss: 0.17418	valid_1's binary_logloss: 0.197615
[2200]	training's binary_logloss: 0.173185	valid_1's binary_logloss: 0.197567
[2300]	training's binary_logloss: 0.172231	valid_1's binary_logloss: 0.197554
[2400]	training's binary_logloss: 0.171312	valid_1's binary_logloss: 0.197566
[2500]	training's binary_logloss: 0.17039	valid_1's binary_logloss: 0.19754
[2600]	training's binary_logloss: 0.169496	valid_1's binary_logloss: 0.197593
[2700]	training's binary_logloss: 0.168617	valid_1's binary_logloss: 0.19763
[2800]	training's binary_logloss: 0.167718	valid_1's binary_logloss: 0.197669
[2900]	training's binary_logloss: 0.166833	valid_1's binary_logloss: 0.197719
Early stopping, best iteration is:
[2496]	training's binary_logloss: 0.170426	valid_1's binary_logloss: 0.197537

C:\Users\kaminogo.kenji\AppData\Local\miniconda3\envs\venv_tabledata_001\lib\site-packages\lightgbm\engine.py:172: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

Training until validation scores don't improve for 500 rounds
[100]	training's binary_logloss: 0.20675	valid_1's binary_logloss: 0.208907
[200]	training's binary_logloss: 0.202792	valid_1's binary_logloss: 0.206517
[300]	training's binary_logloss: 0.1997	valid_1's binary_logloss: 0.204792
[400]	training's binary_logloss: 0.197224	valid_1's binary_logloss: 0.203726
[500]	training's binary_logloss: 0.195092	valid_1's binary_logloss: 0.203042
[600]	training's binary_logloss: 0.193124	valid_1's binary_logloss: 0.20251
[700]	training's binary_logloss: 0.191319	valid_1's binary_logloss: 0.202164
[800]	training's binary_logloss: 0.189619	valid_1's binary_logloss: 0.20183
[900]	training's binary_logloss: 0.188045	valid_1's binary_logloss: 0.201536
[1000]	training's binary_logloss: 0.186579	valid_1's binary_logloss: 0.201334
[1100]	training's binary_logloss: 0.185114	valid_1's binary_logloss: 0.201217
[1200]	training's binary_logloss: 0.183759	valid_1's binary_logloss: 0.201075
[1300]	training's binary_logloss: 0.182461	valid_1's binary_logloss: 0.201084
[1400]	training's binary_logloss: 0.181217	valid_1's binary_logloss: 0.201064
[1500]	training's binary_logloss: 0.180028	valid_1's binary_logloss: 0.201092
[1600]	training's binary_logloss: 0.178863	valid_1's binary_logloss: 0.20111
[1700]	training's binary_logloss: 0.177729	valid_1's binary_logloss: 0.201089
[1800]	training's binary_logloss: 0.176628	valid_1's binary_logloss: 0.201122

C:\Users\kaminogo.kenji\AppData\Local\miniconda3\envs\venv_tabledata_001\lib\site-packages\lightgbm\engine.py:172: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

Training until validation scores don't improve for 500 rounds
[100]	training's binary_logloss: 0.206542	valid_1's binary_logloss: 0.2096
[200]	training's binary_logloss: 0.202411	valid_1's binary_logloss: 0.207571
[300]	training's binary_logloss: 0.199141	valid_1's binary_logloss: 0.206259
[400]	training's binary_logloss: 0.196525	valid_1's binary_logloss: 0.20545
[500]	training's binary_logloss: 0.194247	valid_1's binary_logloss: 0.204846
[600]	training's binary_logloss: 0.192208	valid_1's binary_logloss: 0.204472
[700]	training's binary_logloss: 0.190367	valid_1's binary_logloss: 0.204127
[800]	training's binary_logloss: 0.188617	valid_1's binary_logloss: 0.203916
[900]	training's binary_logloss: 0.187044	valid_1's binary_logloss: 0.203677
[1000]	training's binary_logloss: 0.185513	valid_1's binary_logloss: 0.203558
[1100]	training's binary_logloss: 0.184052	valid_1's binary_logloss: 0.203522
[1200]	training's binary_logloss: 0.182717	valid_1's binary_logloss: 0.2035
[1300]	training's binary_logloss: 0.181423	valid_1's binary_logloss: 0.203548
[1400]	training's binary_logloss: 0.180119	valid_1's binary_logloss: 0.203616
[1500]	training's binary_logloss: 0.17887	valid_1's binary_logloss: 0.203661
[1600]	training's binary_logloss: 0.177725	valid_1's binary_logloss: 0.203693
Early stopping, best iteration is:
[1167]	training's binary_logloss: 0.18315	valid_1's binary_logloss: 0.203462

C:\Users\kaminogo.kenji\AppData\Local\miniconda3\envs\venv_tabledata_001\lib\site-packages\lightgbm\engine.py:172: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

Training until validation scores don't improve for 500 rounds
[100]	training's binary_logloss: 0.206724	valid_1's binary_logloss: 0.208162
[200]	training's binary_logloss: 0.202599	valid_1's binary_logloss: 0.205905
[300]	training's binary_logloss: 0.199311	valid_1's binary_logloss: 0.204345
[400]	training's binary_logloss: 0.196842	valid_1's binary_logloss: 0.203453
[500]	training's binary_logloss: 0.19466	valid_1's binary_logloss: 0.202767
[600]	training's binary_logloss: 0.192711	valid_1's binary_logloss: 0.202197
[700]	training's binary_logloss: 0.190983	valid_1's binary_logloss: 0.201777
[800]	training's binary_logloss: 0.189313	valid_1's binary_logloss: 0.201435
[900]	training's binary_logloss: 0.187751	valid_1's binary_logloss: 0.201144
[1000]	training's binary_logloss: 0.18629	valid_1's binary_logloss: 0.200888
[1100]	training's binary_logloss: 0.18489	valid_1's binary_logloss: 0.20067
[1200]	training's binary_logloss: 0.183562	valid_1's binary_logloss: 0.200514
[1300]	training's binary_logloss: 0.182286	valid_1's binary_logloss: 0.200419
[1400]	training's binary_logloss: 0.181061	valid_1's binary_logloss: 0.200313
[1500]	training's binary_logloss: 0.17988	valid_1's binary_logloss: 0.200218
[1600]	training's binary_logloss: 0.178746	valid_1's binary_logloss: 0.20017
[1700]	training's binary_logloss: 0.177632	valid_1's binary_logloss: 0.200115
[1800]	training's binary_logloss: 0.176516	valid_1's binary_logloss: 0.200109
[1900]	training's binary_logloss: 0.175441	valid_1's binary_logloss: 0.200062
[2000]	training's binary_logloss: 0.174409	valid_1's binary_logloss: 0.200045
[2100]	training's binary_logloss: 0.173402	valid_1's binary_logloss: 0.200069
[2200]	training's binary_logloss: 0.172429	valid_1's binary_logloss: 0.200056
[2300]	training's binary_logloss: 0.171461	valid_1's binary_logloss: 0.200091
[2400]	training's binary_logloss: 0.170498	valid_1's binary_logloss: 0.200114
[2500]	training's binary_logloss: 0.169582	valid_1's binary_logloss: 0.200162

In [41]:
features=[c for c in train_df_12.columns if c not in drop_list]
# if CFG.model=='lgb':
import lightgbm as lgb
from iterstrat.ml_stratifiers import MultilabelStratifiedKFold
from sklearn.model_selection import KFold
importance_df_12=pd.DataFrame(index=train_df_12[features].columns)
importance_df_12['importance']=0
fold=5
predictions_12=pd.DataFrame()
predict_12=np.zeros([len(test_df_12),])
oof_predictions_12 = np.zeros([len(train_df_12),])
# Target Encoding for state and bank state test data  
for c in target_encode_list:
    tmp_df = pd.DataFrame({c:train_df_12[c],f"target_{c}":train_df_12["MIS_Status"]}) 
    target_mean = tmp_df.groupby(c)[f"target_{c}"].mean()
    test_df_12.loc[:,c] = test_df_12[c].map(target_mean)
    test_df_12[c] = test_df_12[c].astype(float)
    
for seeds in[1]:
    fold=5
    skf=MultilabelStratifiedKFold(n_splits=5,random_state=seeds,shuffle=True)
    selected=features.copy()
        
    for i ,(tr_index,va_index) in enumerate(skf.split(train_df_12,train_df_12[['MIS_Status','Sector','State','UrbanRural']])):


        tr_x,tr_y=train_df_12[selected].iloc[tr_index],train_df_12['MIS_Status'].iloc[tr_index]
        va_x,va_y=train_df_12[selected].iloc[va_index],train_df_12['MIS_Status'].iloc[va_index]

        # Target Encoding for state and bank state 
        for c in target_encode_list:
            tmp_df = pd.DataFrame({c:tr_x[c],f"target_{c}":tr_y}) 
            target_mean = tmp_df.groupby(c)[f"target_{c}"].mean()
            va_x.loc[:,c] = va_x[c].map(target_mean)

            tmp = np.repeat(np.nan, tr_x.shape[0])
            kf_encoding = KFold(n_splits=4, shuffle =True,random_state=seeds)

            for idx_1,idx_2 in kf_encoding.split(tr_x):
                target_mean = tmp_df.iloc[idx_1].groupby(c)[f"target_{c}"].mean()
                tmp[idx_2] = tr_x[c].iloc[idx_2].map(target_mean)
            tr_x.loc[:,c]=tmp

            tr_x[c] = tr_x[c].astype(float)
            va_x[c] = va_x[c].astype(float)
        d_train_df_12=lgb.Dataset(tr_x,label=tr_y)

        d_valid=lgb.Dataset(va_x,label=va_y)
        if CFG.train==False:
            param = {'objective': 'binary','metric': 'binary_logloss','learning_rate': 0.003,'boosting':'gbdt','scale_pos_weight': 1, 'lambda_l1': 1.8657458525452022, 'lambda_l2': 0.0043319561423214945, 'num_leaves': 20, 'feature_fraction': 0.23875565259514844, 'bagging_fraction': 0.7939326324321189, 'bagging_freq': 2, 'min_child_samples': 73, 'tree_learner': 'feature','early_stopping_rounds':500,
             'seed':seeds,'random_state':seeds,'data_random_seed':seeds,'feature_fraction_seed':seeds,'random_seed':seeds,'verbose' : -1,'num_boost_round':100000}

            gbm = lgb.train(param, d_train_df_12,valid_sets = [d_train_df_12, d_valid],callbacks=[lgb.early_stopping(stopping_rounds=500, verbose=True), lgb.log_evaluation(100)])
            preds=gbm.predict(va_x[selected])
            predict_12 += gbm.predict(test_df_12[selected])/5
            oof_predictions_12[va_index]=preds
            importance_df_12['importance']+=gbm.feature_importance(importance_type='gain')/5
        else:
            if i==0:
                print(CFG.train)
                optuna.logging.set_verbosity(optuna.logging.INFO)
                study = optuna.create_study(direction='minimize')
                study.optimize(functools.partial(objective,tr_x,tr_y,va_x,va_y,va_index,train_df_12),timeout=60*60*3)#n_trials = 1000)
                print('Number of finished trials:', len(study.trials))
                print('Best trial:', study.best_trial.params)

C:\Users\kaminogo.kenji\AppData\Local\miniconda3\envs\venv_tabledata_001\lib\site-packages\lightgbm\engine.py:172: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

Training until validation scores don't improve for 500 rounds
[100]	training's binary_logloss: 0.440779	valid_1's binary_logloss: 0.442925
[200]	training's binary_logloss: 0.425627	valid_1's binary_logloss: 0.429582
[300]	training's binary_logloss: 0.413729	valid_1's binary_logloss: 0.419403
[400]	training's binary_logloss: 0.404629	valid_1's binary_logloss: 0.411942
[500]	training's binary_logloss: 0.397724	valid_1's binary_logloss: 0.406612
[600]	training's binary_logloss: 0.39185	valid_1's binary_logloss: 0.402204
[700]	training's binary_logloss: 0.387155	valid_1's binary_logloss: 0.399089
[800]	training's binary_logloss: 0.383074	valid_1's binary_logloss: 0.396593
[900]	training's binary_logloss: 0.379507	valid_1's binary_logloss: 0.394562
[1000]	training's binary_logloss: 0.3763	valid_1's binary_logloss: 0.392826
[1100]	training's binary_logloss: 0.373396	valid_1's binary_logloss: 0.391565
[1200]	training's binary_logloss: 0.370835	valid_1's binary_logloss: 0.390535
[1300]	training's binary_logloss: 0.368392	valid_1's binary_logloss: 0.389575
[1400]	training's binary_logloss: 0.366144	valid_1's binary_logloss: 0.388828
[1500]	training's binary_logloss: 0.364018	valid_1's binary_logloss: 0.388262
[1600]	training's binary_logloss: 0.362057	valid_1's binary_logloss: 0.387795
[1700]	training's binary_logloss: 0.360146	valid_1's binary_logloss: 0.387343
[1800]	training's binary_logloss: 0.358291	valid_1's binary_logloss: 0.386984
[1900]	training's binary_logloss: 0.356547	valid_1's binary_logloss: 0.38667
[2000]	training's binary_logloss: 0.354878	valid_1's binary_logloss: 0.38652
[2100]	training's binary_logloss: 0.3532	valid_1's binary_logloss: 0.386321
[2200]	training's binary_logloss: 0.351597	valid_1's binary_logloss: 0.386164
[2300]	training's binary_logloss: 0.350033	valid_1's binary_logloss: 0.386074
[2400]	training's binary_logloss: 0.348521	valid_1's binary_logloss: 0.385954
[2500]	training's binary_logloss: 0.347059	valid_1's binary_logloss: 0.385831
[2600]	training's binary_logloss: 0.345524	valid_1's binary_logloss: 0.385692
[2700]	training's binary_logloss: 0.344098	valid_1's binary_logloss: 0.38561
[2800]	training's binary_logloss: 0.342674	valid_1's binary_logloss: 0.385552
[2900]	training's binary_logloss: 0.34127	valid_1's binary_logloss: 0.385487
[3000]	training's binary_logloss: 0.339896	valid_1's binary_logloss: 0.385493
[3100]	training's binary_logloss: 0.338565	valid_1's binary_logloss: 0.385542
[3200]	training's binary_logloss: 0.337239	valid_1's binary_logloss: 0.385523
[3300]	training's binary_logloss: 0.335943	valid_1's binary_logloss: 0.385485
[3400]	training's binary_logloss: 0.334666	valid_1's binary_logloss: 0.385474
[3500]	training's binary_logloss: 0.333382	valid_1's binary_logloss: 0.385471
[3600]	training's binary_logloss: 0.332155	valid_1's binary_logloss: 0.385511
[3700]	training's binary_logloss: 0.330933	valid_1's binary_logloss: 0.385556
[3800]	training's binary_logloss: 0.329708	valid_1's binary_logloss: 0.385646
[3900]	training's binary_logloss: 0.328486	valid_1's binary_logloss: 0.385665

C:\Users\kaminogo.kenji\AppData\Local\miniconda3\envs\venv_tabledata_001\lib\site-packages\lightgbm\engine.py:172: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

Training until validation scores don't improve for 500 rounds
[100]	training's binary_logloss: 0.441798	valid_1's binary_logloss: 0.440818
[200]	training's binary_logloss: 0.426951	valid_1's binary_logloss: 0.426167
[300]	training's binary_logloss: 0.41509	valid_1's binary_logloss: 0.414648
[400]	training's binary_logloss: 0.406044	valid_1's binary_logloss: 0.406348
[500]	training's binary_logloss: 0.399113	valid_1's binary_logloss: 0.400284
[600]	training's binary_logloss: 0.393264	valid_1's binary_logloss: 0.395381
[700]	training's binary_logloss: 0.388598	valid_1's binary_logloss: 0.391963
[800]	training's binary_logloss: 0.384546	valid_1's binary_logloss: 0.389081
[900]	training's binary_logloss: 0.380959	valid_1's binary_logloss: 0.386828
[1000]	training's binary_logloss: 0.377711	valid_1's binary_logloss: 0.384886
[1100]	training's binary_logloss: 0.374806	valid_1's binary_logloss: 0.383242
[1200]	training's binary_logloss: 0.372216	valid_1's binary_logloss: 0.381956
[1300]	training's binary_logloss: 0.36976	valid_1's binary_logloss: 0.380958
[1400]	training's binary_logloss: 0.367532	valid_1's binary_logloss: 0.380115
[1500]	training's binary_logloss: 0.365405	valid_1's binary_logloss: 0.379499
[1600]	training's binary_logloss: 0.363411	valid_1's binary_logloss: 0.379092
[1700]	training's binary_logloss: 0.361526	valid_1's binary_logloss: 0.37871
[1800]	training's binary_logloss: 0.359696	valid_1's binary_logloss: 0.378384
[1900]	training's binary_logloss: 0.357917	valid_1's binary_logloss: 0.378011
[2000]	training's binary_logloss: 0.356239	valid_1's binary_logloss: 0.377793
[2100]	training's binary_logloss: 0.35459	valid_1's binary_logloss: 0.377588
[2200]	training's binary_logloss: 0.353006	valid_1's binary_logloss: 0.377425
[2300]	training's binary_logloss: 0.351473	valid_1's binary_logloss: 0.377258
[2400]	training's binary_logloss: 0.349964	valid_1's binary_logloss: 0.37712
[2500]	training's binary_logloss: 0.348493	valid_1's binary_logloss: 0.377024
[2600]	training's binary_logloss: 0.347058	valid_1's binary_logloss: 0.376902
[2700]	training's binary_logloss: 0.345663	valid_1's binary_logloss: 0.376797
[2800]	training's binary_logloss: 0.344268	valid_1's binary_logloss: 0.376698
[2900]	training's binary_logloss: 0.342884	valid_1's binary_logloss: 0.376653
[3000]	training's binary_logloss: 0.341531	valid_1's binary_logloss: 0.376625
[3100]	training's binary_logloss: 0.340194	valid_1's binary_logloss: 0.37659
[3200]	training's binary_logloss: 0.338912	valid_1's binary_logloss: 0.376557
[3300]	training's binary_logloss: 0.337661	valid_1's binary_logloss: 0.376513
[3400]	training's binary_logloss: 0.336411	valid_1's binary_logloss: 0.37651
[3500]	training's binary_logloss: 0.335176	valid_1's binary_logloss: 0.37646
[3600]	training's binary_logloss: 0.33391	valid_1's binary_logloss: 0.376453
[3700]	training's binary_logloss: 0.33267	valid_1's binary_logloss: 0.37646
[3800]	training's binary_logloss: 0.331454	valid_1's binary_logloss: 0.376474
[3900]	training's binary_logloss: 0.33028	valid_1's binary_logloss: 0.376488
[4000]	training's binary_logloss: 0.329081	valid_1's binary_logloss: 0.376505
Early stopping, best iteration is:
[3527]	training's binary_logloss: 0.334833	valid_1's binary_logloss: 0.376428

C:\Users\kaminogo.kenji\AppData\Local\miniconda3\envs\venv_tabledata_001\lib\site-packages\lightgbm\engine.py:172: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

Training until validation scores don't improve for 500 rounds
[100]	training's binary_logloss: 0.43976	valid_1's binary_logloss: 0.446124
[200]	training's binary_logloss: 0.423848	valid_1's binary_logloss: 0.434348
[300]	training's binary_logloss: 0.411442	valid_1's binary_logloss: 0.425439
[400]	training's binary_logloss: 0.402073	valid_1's binary_logloss: 0.419041
[500]	training's binary_logloss: 0.394798	valid_1's binary_logloss: 0.41431
[600]	training's binary_logloss: 0.3886	valid_1's binary_logloss: 0.410441
[700]	training's binary_logloss: 0.383786	valid_1's binary_logloss: 0.407791
[800]	training's binary_logloss: 0.379671	valid_1's binary_logloss: 0.405764
[900]	training's binary_logloss: 0.375942	valid_1's binary_logloss: 0.404102
[1000]	training's binary_logloss: 0.372646	valid_1's binary_logloss: 0.402716
[1100]	training's binary_logloss: 0.3697	valid_1's binary_logloss: 0.401594
[1200]	training's binary_logloss: 0.367023	valid_1's binary_logloss: 0.400829
[1300]	training's binary_logloss: 0.364506	valid_1's binary_logloss: 0.400163
[1400]	training's binary_logloss: 0.36221	valid_1's binary_logloss: 0.39966
[1500]	training's binary_logloss: 0.360012	valid_1's binary_logloss: 0.399187
[1600]	training's binary_logloss: 0.35805	valid_1's binary_logloss: 0.398869
[1700]	training's binary_logloss: 0.356136	valid_1's binary_logloss: 0.398671
[1800]	training's binary_logloss: 0.354239	valid_1's binary_logloss: 0.398408
[1900]	training's binary_logloss: 0.352467	valid_1's binary_logloss: 0.398266
[2000]	training's binary_logloss: 0.350755	valid_1's binary_logloss: 0.398142
[2100]	training's binary_logloss: 0.349135	valid_1's binary_logloss: 0.398016
[2200]	training's binary_logloss: 0.347518	valid_1's binary_logloss: 0.397993
[2300]	training's binary_logloss: 0.345999	valid_1's binary_logloss: 0.398001
[2400]	training's binary_logloss: 0.344501	valid_1's binary_logloss: 0.398071
[2500]	training's binary_logloss: 0.343027	valid_1's binary_logloss: 0.398118
[2600]	training's binary_logloss: 0.341562	valid_1's binary_logloss: 0.398059
[2700]	training's binary_logloss: 0.340132	valid_1's binary_logloss: 0.398124
Early stopping, best iteration is:
[2238]	training's binary_logloss: 0.346936	valid_1's binary_logloss: 0.397955

C:\Users\kaminogo.kenji\AppData\Local\miniconda3\envs\venv_tabledata_001\lib\site-packages\lightgbm\engine.py:172: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

Training until validation scores don't improve for 500 rounds
[100]	training's binary_logloss: 0.441467	valid_1's binary_logloss: 0.441382
[200]	training's binary_logloss: 0.426494	valid_1's binary_logloss: 0.427234
[300]	training's binary_logloss: 0.414762	valid_1's binary_logloss: 0.41643
[400]	training's binary_logloss: 0.405726	valid_1's binary_logloss: 0.408651
[500]	training's binary_logloss: 0.398786	valid_1's binary_logloss: 0.403007
[600]	training's binary_logloss: 0.392825	valid_1's binary_logloss: 0.398419
[700]	training's binary_logloss: 0.388027	valid_1's binary_logloss: 0.394988
[800]	training's binary_logloss: 0.383868	valid_1's binary_logloss: 0.392305
[900]	training's binary_logloss: 0.380275	valid_1's binary_logloss: 0.390215
[1000]	training's binary_logloss: 0.377059	valid_1's binary_logloss: 0.388458
[1100]	training's binary_logloss: 0.374088	valid_1's binary_logloss: 0.38702
[1200]	training's binary_logloss: 0.371474	valid_1's binary_logloss: 0.38586
[1300]	training's binary_logloss: 0.368999	valid_1's binary_logloss: 0.384961
[1400]	training's binary_logloss: 0.366772	valid_1's binary_logloss: 0.384226
[1500]	training's binary_logloss: 0.364673	valid_1's binary_logloss: 0.383615
[1600]	training's binary_logloss: 0.362687	valid_1's binary_logloss: 0.383123
[1700]	training's binary_logloss: 0.360816	valid_1's binary_logloss: 0.382733
[1800]	training's binary_logloss: 0.358999	valid_1's binary_logloss: 0.38242
[1900]	training's binary_logloss: 0.357291	valid_1's binary_logloss: 0.382133
[2000]	training's binary_logloss: 0.35561	valid_1's binary_logloss: 0.381959
[2100]	training's binary_logloss: 0.353968	valid_1's binary_logloss: 0.381767
[2200]	training's binary_logloss: 0.35241	valid_1's binary_logloss: 0.381593
[2300]	training's binary_logloss: 0.350875	valid_1's binary_logloss: 0.381466
[2400]	training's binary_logloss: 0.349416	valid_1's binary_logloss: 0.381483
[2500]	training's binary_logloss: 0.347968	valid_1's binary_logloss: 0.381446
[2600]	training's binary_logloss: 0.346523	valid_1's binary_logloss: 0.381411
[2700]	training's binary_logloss: 0.345131	valid_1's binary_logloss: 0.381406
[2800]	training's binary_logloss: 0.343794	valid_1's binary_logloss: 0.381396
[2900]	training's binary_logloss: 0.342449	valid_1's binary_logloss: 0.381407
[3000]	training's binary_logloss: 0.34112	valid_1's binary_logloss: 0.381417
Early stopping, best iteration is:
[2562]	training's binary_logloss: 0.347059	valid_1's binary_logloss: 0.381375

C:\Users\kaminogo.kenji\AppData\Local\miniconda3\envs\venv_tabledata_001\lib\site-packages\lightgbm\engine.py:172: UserWarning: Found `num_boost_round` in params. Will use it instead of argument
  _log_warning(f"Found `{alias}` in params. Will use it instead of argument")

Training until validation scores don't improve for 500 rounds
[100]	training's binary_logloss: 0.441138	valid_1's binary_logloss: 0.443411
[200]	training's binary_logloss: 0.42566	valid_1's binary_logloss: 0.430144
[300]	training's binary_logloss: 0.413555	valid_1's binary_logloss: 0.419985
[400]	training's binary_logloss: 0.404366	valid_1's binary_logloss: 0.412698
[500]	training's binary_logloss: 0.397341	valid_1's binary_logloss: 0.407515
[600]	training's binary_logloss: 0.391398	valid_1's binary_logloss: 0.403364
[700]	training's binary_logloss: 0.386746	valid_1's binary_logloss: 0.400385
[800]	training's binary_logloss: 0.382599	valid_1's binary_logloss: 0.397942
[900]	training's binary_logloss: 0.37901	valid_1's binary_logloss: 0.396017
[1000]	training's binary_logloss: 0.375822	valid_1's binary_logloss: 0.394461
[1100]	training's binary_logloss: 0.372925	valid_1's binary_logloss: 0.393098
[1200]	training's binary_logloss: 0.370337	valid_1's binary_logloss: 0.392097
[1300]	training's binary_logloss: 0.367874	valid_1's binary_logloss: 0.391146
[1400]	training's binary_logloss: 0.365605	valid_1's binary_logloss: 0.390417
[1500]	training's binary_logloss: 0.363438	valid_1's binary_logloss: 0.389769
[1600]	training's binary_logloss: 0.361448	valid_1's binary_logloss: 0.389229
[1700]	training's binary_logloss: 0.359532	valid_1's binary_logloss: 0.388809
[1800]	training's binary_logloss: 0.357718	valid_1's binary_logloss: 0.388415
[1900]	training's binary_logloss: 0.355949	valid_1's binary_logloss: 0.38821
[2000]	training's binary_logloss: 0.354261	valid_1's binary_logloss: 0.388121
[2100]	training's binary_logloss: 0.352605	valid_1's binary_logloss: 0.387989
[2200]	training's binary_logloss: 0.351003	valid_1's binary_logloss: 0.387905
[2300]	training's binary_logloss: 0.349422	valid_1's binary_logloss: 0.387821
[2400]	training's binary_logloss: 0.347937	valid_1's binary_logloss: 0.387761
[2500]	training's binary_logloss: 0.346443	valid_1's binary_logloss: 0.387656
[2600]	training's binary_logloss: 0.34499	valid_1's binary_logloss: 0.387695
[2700]	training's binary_logloss: 0.343576	valid_1's binary_logloss: 0.387697
[2800]	training's binary_logloss: 0.342152	valid_1's binary_logloss: 0.387647
[2900]	training's binary_logloss: 0.34077	valid_1's binary_logloss: 0.387677
[3000]	training's binary_logloss: 0.339428	valid_1's binary_logloss: 0.387729
[3100]	training's binary_logloss: 0.338067	valid_1's binary_logloss: 0.387714
[3200]	training's binary_logloss: 0.336751	valid_1's binary_logloss: 0.38774

In [125]:
oof_predictions

array([0.98278731, 0.9596817 , 0.97077445, ..., 0.93702945, 0.97641222,
       0.94820589])

In [126]:
oof_predictions_0

array([0.98909965, 0.97847322, 0.95707324, ..., 0.93856673, 0.9749496 ,
       0.95106083])

In [127]:
oof_predictions_12

array([0.97642248, 0.8481481 , 0.65950654, ..., 0.52811883, 0.90054612,
       0.9126719 ])

In [128]:
oof=pd.DataFrame(oof_predictions)
oof.rename(columns={0:'prob1'},inplace=True)
oof['True']=train['MIS_Status']

In [129]:
oof_predictions_0

array([0.98909965, 0.97847322, 0.95707324, ..., 0.93856673, 0.9749496 ,
       0.95106083])

In [130]:
oof_0=pd.DataFrame(oof_predictions_0)
oof_0.rename(columns={0:'prob2'},inplace=True)
oof_0['True']=train_df_0['MIS_Status']

In [131]:
oof_12=pd.DataFrame(oof_predictions_12)
oof_12.rename(columns={0:'prob2'},inplace=True)
oof_12['True']=train_df_12['MIS_Status']

In [132]:
oof_0 = pd.concat([oof_0,train_df_0["Unnamed: 0"]],axis=1)

In [133]:
oof_0

          prob2  True  Unnamed: 0
0      0.989100     1           0
1      0.978473     1           1
2      0.957073     1           3
3      0.953670     1           4
4      0.962035     0           5
...         ...   ...         ...
24032  0.948376     1       42300
24033  0.979637     1       42302
24034  0.938567     1       42304
24035  0.974950     1       42305
24036  0.951061     1       42306

[24037 rows x 3 columns]

In [134]:
oof_12

          prob2  True
0      0.976422     1
1      0.848148     1
2      0.659507     1
3      0.334563     0
4      0.828680     1
...         ...   ...
18265  0.933136     1
18266  0.756594     1
18267  0.528119     0
18268  0.900546     1
18269  0.912672     1

[18270 rows x 2 columns]

In [135]:
oof_12 = pd.concat([oof_12,train_df_12["Unnamed: 0"]],axis=1)

In [136]:
oof_12

          prob2  True  Unnamed: 0
0      0.976422     1           2
1      0.848148     1           9
2      0.659507     1          11
3      0.334563     0          12
4      0.828680     1          13
...         ...   ...         ...
18265  0.933136     1       42295
18266  0.756594     1       42296
18267  0.528119     0       42299
18268  0.900546     1       42301
18269  0.912672     1       42303

[18270 rows x 3 columns]

In [137]:
oof_012 = pd.concat([oof_0,oof_12])

In [138]:
oof_0

          prob2  True  Unnamed: 0
0      0.989100     1           0
1      0.978473     1           1
2      0.957073     1           3
3      0.953670     1           4
4      0.962035     0           5
...         ...   ...         ...
24032  0.948376     1       42300
24033  0.979637     1       42302
24034  0.938567     1       42304
24035  0.974950     1       42305
24036  0.951061     1       42306

[24037 rows x 3 columns]

In [139]:
oof_12

          prob2  True  Unnamed: 0
0      0.976422     1           2
1      0.848148     1           9
2      0.659507     1          11
3      0.334563     0          12
4      0.828680     1          13
...         ...   ...         ...
18265  0.933136     1       42295
18266  0.756594     1       42296
18267  0.528119     0       42299
18268  0.900546     1       42301
18269  0.912672     1       42303

[18270 rows x 3 columns]

In [140]:
oof_012 = oof_012.sort_values("Unnamed: 0")

In [141]:
oof_012

          prob2  True  Unnamed: 0
0      0.989100     1           0
1      0.978473     1           1
0      0.976422     1           2
2      0.957073     1           3
3      0.953670     1           4
...         ...   ...         ...
24033  0.979637     1       42302
18269  0.912672     1       42303
24034  0.938567     1       42304
24035  0.974950     1       42305
24036  0.951061     1       42306

[42307 rows x 3 columns]

In [142]:
oof_012.reset_index(inplace=True,drop=True)

In [143]:
oof_012

          prob2  True  Unnamed: 0
0      0.989100     1           0
1      0.978473     1           1
2      0.976422     1           2
3      0.957073     1           3
4      0.953670     1           4
...         ...   ...         ...
42302  0.979637     1       42302
42303  0.912672     1       42303
42304  0.938567     1       42304
42305  0.974950     1       42305
42306  0.951061     1       42306

[42307 rows x 3 columns]

# Value Metrics

In [144]:
from sklearn.metrics import f1_score

score_list = [{"Thresh":"Score"}]
for thresh in[0.6,0.7,0.74,0.745,0.746,0.747,0.748,0.749,0.75,0.751,0.752,0.753,0.754,0.755,0.76,0.761,0.762,0.763,0.767,0.768,0.769,0.77,0.771,0.772,0.773,0.774,0.78,0.8,0.9]:
    oof_012["thresh"] = 0
    oof_012['thresh']=np.where(oof_012['prob1']>thresh,1,0)
    print("#######")
    print(thresh)
    print(f1_score(oof_012['thresh'],oof_012['True'],average='macro'))
    score =f1_score(oof_012['thresh'],oof_012['True'],average='macro')
    score_list.append({f"{thresh}":f"{score}"})
    print("#######")

KeyError: 'prob1'

In [145]:
from sklearn.metrics import f1_score

score_list = [{"Thresh":"Score"}]
for thresh in[0.6,0.7,0.74,0.745,0.746,0.747,0.748,0.749,0.75,0.751,0.752,0.753,0.754,0.755,0.76,0.761,0.762,0.763,0.767,0.768,0.769,0.77,0.771,0.772,0.773,0.774,0.78,0.8,0.9]:
    oof["thresh"] = 0
    oof['thresh']=np.where(oof['prob1']>thresh,1,0)
    print("#######")
    print(thresh)
    print(f1_score(oof['thresh'],oof['True'],average='macro'))
    score =f1_score(oof['thresh'],oof['True'],average='macro')
    score_list.append({f"{thresh}":f"{score}"})
    print("#######")

#######
0.6
0.6551935539028755
#######
#######
0.7
0.6757262545461813
#######
#######
0.74
0.6783457799679364
#######
#######
0.745
0.6783683078111551
#######
#######
0.746
0.6782148012348871
#######
#######
0.747
0.6781746214435039
#######
#######
0.748
0.6782339634584447
#######
#######
0.749
0.67813330563663
#######
#######
0.75
0.67851494246713
#######
#######
0.751
0.6785121418835771
#######
#######
0.752
0.6783978743650534
#######
#######
0.753
0.6782118000788863
#######
#######
0.754
0.6784838173086946
#######
#######
0.755
0.6784023024209216
#######
#######
0.76
0.6775285887773324
#######
#######
0.761
0.6772910897810405
#######
#######
0.762
0.6773512883855957
#######
#######
0.763
0.6773568930550865
#######
#######
0.767
0.6773411835773543
#######
#######
0.768
0.6773383762758138
#######
#######
0.769
0.6772934848114873
#######
#######
0.77
0.6771121884868047
#######
#######
0.771
0.6771441862907119
#######
#######
0.772
0.6772026054334609
#######
#######
0.773
0.6772284923231348
#######
#######
0.774
0.6775746472033897
#######
#######
0.78
0.6778180328692816
#######
#######
0.8
0.6735220679837186
#######
#######
0.9
0.5879676461100958
#######

In [146]:
oof = pd.concat([oof_012["prob2"],oof],axis=1)

In [147]:
oof

          prob2     prob1  True  thresh
0      0.989100  0.982787     1       1
1      0.978473  0.959682     1       1
2      0.976422  0.970774     1       1
3      0.957073  0.962944     1       1
4      0.953670  0.941949     1       1
...         ...       ...   ...     ...
42302  0.979637  0.983902     1       1
42303  0.912672  0.932100     1       1
42304  0.938567  0.937029     1       1
42305  0.974950  0.976412     1       1
42306  0.951061  0.948206     1       1

[42307 rows x 4 columns]

In [148]:
score_df = pd.DataFrame(columns = ["score","thresh","prob1","prob2"])

In [149]:
oof

          prob2     prob1  True  thresh
0      0.989100  0.982787     1       1
1      0.978473  0.959682     1       1
2      0.976422  0.970774     1       1
3      0.957073  0.962944     1       1
4      0.953670  0.941949     1       1
...         ...       ...   ...     ...
42302  0.979637  0.983902     1       1
42303  0.912672  0.932100     1       1
42304  0.938567  0.937029     1       1
42305  0.974950  0.976412     1       1
42306  0.951061  0.948206     1       1

[42307 rows x 4 columns]

In [150]:
from sklearn.metrics import f1_score


score_list = ["Thresh","Score","prob1","prob2"]
for thresh in[0.6,0.7,0.74,0.745,0.746,0.747,0.748,0.749,0.75,0.751,0.752,0.753,0.754,0.755,0.76,0.761,0.762,0.763,0.767,0.768,0.769,0.77,0.771,0.772,0.773,0.774,0.78,0.8,0.9]:
    for i,(prob1,prob2) in enumerate([(0.5,0.5),(0.4,0.6),(0.3,0.7),(0.6,0.4),(0.7,0.3)]):
        oof["thresh"] = 0
        oof["prob3"] = oof["prob1"]*prob1 + oof["prob2"]*prob2
        oof['thresh']=np.where(oof['prob3']>thresh,1,0)
        print("#######")
        print(thresh)
        print(f1_score(oof['thresh'],oof['True'],average='macro'))
        score =f1_score(oof['thresh'],oof['True'],average='macro')
        score_df.loc[i] = [score,thresh,prob1,prob2]
        print("#######")

#######
0.6
0.6518820840216917
#######
#######
0.6
0.6513754889623037
#######
#######
0.6
0.6508071097654289
#######
#######
0.6
0.652892978480133
#######
#######
0.6
0.6542747012325576
#######
#######
0.7
0.6763260373086678
#######
#######
0.7
0.6752735604387412
#######
#######
0.7
0.6742559899718332
#######
#######
0.7
0.6754029309933527
#######
#######
0.7
0.6760542992364853
#######
#######
0.74
0.6794783071320799
#######
#######
0.74
0.6795935845571851
#######
#######
0.74
0.6789227605569251
#######
#######
0.74
0.6790658669797827
#######
#######
0.74
0.6788494649182101
#######
#######
0.745
0.6795891596193958
#######
#######
0.745
0.679966019321282
#######
#######
0.745
0.6791326601544398
#######
#######
0.745
0.6797425973314202
#######
#######
0.745
0.6787096441026015
#######
#######
0.746
0.6796478962574708
#######
#######
0.746
0.6798772708891966
#######
#######
0.746
0.67932649082351
#######
#######
0.746
0.6797123021108289
#######
#######
0.746
0.6787293937876266
#######
#######
0.747
0.6795259343110849
#######
#######
0.747
0.6799811470891801
#######
#######
0.747
0.6794861196100083
#######
#######
0.747
0.6797640487583128
#######
#######
0.747
0.67914241105288
#######
#######
0.748
0.6798251596179795
#######
#######
0.748
0.6800663071916302
#######
#######
0.748
0.6795506287868335
#######
#######
0.748
0.6794410371179593
#######
#######
0.748
0.6792341945720874
#######
#######
0.749
0.6798155372991925
#######
#######
0.749
0.6801963791061298
#######
#######
0.749
0.6799614687564995
#######
#######
0.749
0.6797386955695817
#######
#######
0.749
0.679711114136265
#######
#######
0.75
0.6803648158109045
#######
#######
0.75
0.6799673147357626
#######
#######
0.75
0.6798784561213733
#######
#######
0.75
0.6797228157522653
#######
#######
0.75
0.6796225508291287
#######
#######
0.751
0.680214056594827
#######
#######
0.751
0.680169321744906
#######
#######
0.751
0.679962741314496
#######
#######
0.751
0.6795732801105543
#######
#######
0.751
0.6797183050736324
#######
#######
0.752
0.680437024676599
#######
#######
0.752
0.6800189309452556
#######
#######
0.752
0.67994641219709
#######
#######
0.752
0.6796573085560822
#######
#######
0.752
0.6794298016578038
#######
#######
0.753
0.6801470077841332
#######
#######
0.753
0.6800134585559994
#######
#######
0.753
0.6802861045409134
#######
#######
0.753
0.679402285133597
#######
#######
0.753
0.6793472662406778
#######
#######
0.754
0.6798244815412773
#######
#######
0.754
0.6802075661293424
#######
#######
0.754
0.6802849594319247
#######
#######
0.754
0.6795249075235021
#######
#######
0.754
0.6794032597821924
#######
#######
0.755
0.6799239365374677
#######
#######
0.755
0.6803726667720519
#######
#######
0.755
0.6805880428184659
#######
#######
0.755
0.6794088913573885
#######
#######
0.755
0.6792542649895645
#######
#######
0.76
0.6805670134221606
#######
#######
0.76
0.6810108902707186
#######
#######
0.76
0.6804347839307838
#######
#######
0.76
0.6797125211506128
#######
#######
0.76
0.6793347387204031
#######
#######
0.761
0.6809380515209513
#######
#######
0.761
0.680486345101255
#######
#######
0.761
0.680420335235321
#######
#######
0.761
0.6798263244426918
#######
#######
0.761
0.679600725067085
#######
#######
0.762
0.6805882622748608
#######
#######
0.762
0.680504529291443
#######
#######
0.762
0.6801988094269515
#######
#######
0.762
0.6799260578784885
#######
#######
0.762
0.6794939234053916
#######
#######
0.763
0.6808117407591543
#######
#######
0.763
0.6803382637318157
#######
#######
0.763
0.680296498143964
#######
#######
0.763
0.6804938807193626
#######
#######
0.763
0.6798931807627573
#######
#######
0.767
0.6804186408265561
#######
#######
0.767
0.6802960901085231
#######
#######
0.767
0.6799415955899155
#######
#######
0.767
0.6804593459617867
#######
#######
0.767
0.6799207186477736
#######
#######
0.768
0.6806095778675784
#######
#######
0.768
0.6803564572628595
#######
#######
0.768
0.67999849927959
#######
#######
0.768
0.6800759609989877
#######
#######
0.768
0.6802143259635272
#######
#######
0.769
0.680230127508014
#######
#######
0.769
0.6800468062163433
#######
#######
0.769
0.6797263344323524
#######
#######
0.769
0.6797629178879829
#######
#######
0.769
0.6801000112644846
#######
#######
0.77
0.6799533319843003
#######
#######
0.77
0.6800699129941818
#######
#######
0.77
0.6795156749412747
#######
#######
0.77
0.6798116256202476
#######
#######
0.77
0.6797911610918563
#######
#######
0.771
0.6797822453925608
#######
#######
0.771
0.6800312932314672
#######
#######
0.771
0.678947056063968
#######
#######
0.771
0.6798314572043851
#######
#######
0.771
0.6795519593820817
#######
#######
0.772
0.6798733722308851
#######
#######
0.772
0.679977620631477
#######
#######
0.772
0.6788827474922692
#######
#######
0.772
0.6801570588908836
#######
#######
0.772
0.6795714334740295
#######
#######
0.773
0.6797876000049836
#######
#######
0.773
0.6798665958183081
#######
#######
0.773
0.678842032257457
#######
#######
0.773
0.6809107636052618
#######
#######
0.773
0.6795941625800237
#######
#######
0.774
0.6802776022595579
#######
#######
0.774
0.6796591004249676
#######
#######
0.774
0.6787575097852181
#######
#######
0.774
0.6810622087263916
#######
#######
0.774
0.6795518778110365
#######
#######
0.78
0.679650413504008
#######
#######
0.78
0.6789145932647113
#######
#######
0.78
0.678984158990811
#######
#######
0.78
0.6804547375899095
#######
#######
0.78
0.6804039108713416
#######
#######
0.8
0.6759334162678661
#######
#######
0.8
0.6754569623187643
#######
#######
0.8
0.6753814751751144
#######
#######
0.8
0.6745818633077619
#######
#######
0.8
0.6743453939582595
#######
#######
0.9
0.5871499161661773
#######
#######
0.9
0.5862738211634966
#######
#######
0.9
0.5856992185467155
#######
#######
0.9
0.5871143010553084
#######
#######
0.9
0.5875445643648314
#######

In [151]:
score_df

      score  thresh  prob1  prob2
0  0.587150     0.9    0.5    0.5
1  0.586274     0.9    0.4    0.6
2  0.585699     0.9    0.3    0.7
3  0.587114     0.9    0.6    0.4
4  0.587545     0.9    0.7    0.3

# Create Submission

In [64]:
predict_0_df = pd.DataFrame(predict_0)
predict_12_df  = pd.DataFrame(predict_12) 

predict_0_df = pd.concat([predict_0_df,test_df_0["Unnamed: 0"]],axis=1)
predict_12_df  = pd.concat([predict_12_df,test_df_12["Unnamed: 0"]],axis=1)
predict_012_df = pd.concat([predict_0_df,predict_12_df])
predict_012_df.reset_index(inplace=True,drop=True)

In [71]:
# predict_012_df=predict_012_df.sort_values("Unnamed: 0")
# predict_012_df.reset_index(inplace=True,drop=True)
predict_012_df.rename(columns={0:"col_1"},inplace=True)

In [72]:
predict_012_df

          col_1  Unnamed: 0
0      0.294770       42307
1      0.960267       42308
2      0.606039       42309
3      0.821787       42310
4      0.945068       42311
...         ...         ...
42303  0.960238       84610
42304  0.941204       84611
42305  0.928225       84612
42306  0.965004       84613
42307  0.249711       84614

[42308 rows x 2 columns]

In [73]:
pred_df=pd.DataFrame(predict)
pred_df=pred_df.add_prefix('col_')

In [74]:
pred_df

          col_0
0      0.310455
1      0.940694
2      0.721940
3      0.824712
4      0.953099
...         ...
42303  0.964991
42304  0.947574
42305  0.920203
42306  0.962158
42307  0.274863

[42308 rows x 1 columns]

In [75]:
pred_df = pd.concat([pred_df,predict_012_df],axis=1)

In [76]:
pred_df[]

          col_0     col_1  Unnamed: 0
0      0.310455  0.294770       42307
1      0.940694  0.960267       42308
2      0.721940  0.606039       42309
3      0.824712  0.821787       42310
4      0.953099  0.945068       42311
...         ...       ...         ...
42303  0.964991  0.960238       84610
42304  0.947574  0.941204       84611
42305  0.920203  0.928225       84612
42306  0.962158  0.965004       84613
42307  0.274863  0.249711       84614

[42308 rows x 3 columns]

In [99]:
pred_df=pd.DataFrame(predict)
pred_df=pred_df.add_prefix('col_')
sub=pd.DataFrame(test['Unnamed: 0'].copy())
# sub['predict_2']=0
sub['predict_0']=0
sub['predict_1']=0
sub['predict_1']=np.where(pred_df['col_0']>0.75,1,0)

# # sub['predict_2']=np.where(tmp['col_2']>0.0615,1,0)
# # sub['predict_0']=np.where(tmp['col_0']>0.205,1,0)

In [101]:
sub['predict_1'].value_counts()

predict_1
1    39043
0     3265
Name: count, dtype: int64

In [102]:
sub[['Unnamed: 0','predict_1']].to_csv(f'sub_kaminogo{CFG.ver}.csv',header=False,index=False)

# Other

In [43]:
population_df= pd.read_csv("../data/us_popluation.csv")

In [23]:
population_df.dtypes

2024          int64
per_2024    float64
2023          int64
2010          int64
State        object
1900          int64
1910          int64
1920          int64
1930          int64
1940          int64
1950          int64
1960          int64
1970          int64
1980          int64
1990          int64
2000          int64
2003          int64
per_2023    float64
per_2010    float64
per_1900    float64
per_1910    float64
per_1920    float64
per_1930    float64
per_1940    float64
per_1950    float64
per_1960    float64
per_1970    float64
per_1980    float64
per_1990    float64
per_2000    float64
per_2003    float64
dtype: object

In [ ]:
population_df